@import 'modules/variables';
::-webkit-scrollbar {
    display: none;
}

html {
    overflow-x: hidden;
    #editing {
        text-align: center;
        height: 50%;
        top: 25%;
    }
    body {
        user-select: none;
        font-family: $Roboto;
        background: white;
        height: 100vh;
        overflow: hidden;
        @import 'modules/admin';
        transition: all .4s ease;
        .header {
            margin: 0;
            background: white;
            text-align: center;
            z-index: 1;
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
            padding: 0;
            border-bottom: solid 4px transparent;
            transition: all 0.3s ease;
            .head {
                margin: 0;
                height: 10vh;
                line-height: 10vh;
                padding: 0;
                &.title {
                    .cont {
                        font-size: 18px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .cont {
                    z-index: 1;
                    transition: all 0.3s ease;
                    &.back {
                        top: 1vh;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        i {
                            cursor: pointer;
                            color: $yellow;
                            font-size: 28px;
                        }
                        span {
                            cursor: pointer;
                            font-size: 12px;
                            position: relative;
                            bottom: 4px;
                            transition: all 0.3s ease;
                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                    a {
                        i {
                            font-size: 28px;
                            top: 5px;
                            position: relative;
                            color: $yellow;
                            transition: all 0.3s ease;
                            &:hover {
                                color: darken($yellow, 5%);
                            }
                        }
                    }
                }
                &.transparent {
                    cursor: default;
                    user-select: none;
                    .cont.back {
                        display: none;
                        animation: fade 0.3s ease;
                        color: transparent;
                        cursor: default;
                        i {
                            color: transparent;
                            animation: fade 0.3s ease;
                            cursor: default;
                        }
                        span {
                            cursor: default;
                            &:hover {
                                color: transparent;
                            }
                        }
                    }
                }
            }
            &.boy {
                border-bottom-color: $boy;
            }
            &.girl {
                border-bottom-color: $girl;
            }
            &.bBoy {
                border-bottom-color: $bBoy;
            }
            &.bGirl {
                border-bottom-color: $bGirl;
            }
            &.nBoy {
                border-bottom-color: $nBoy;
            }
            &.nGirl {
                border-bottom-color: $nGirl;
            }
        }
        .content {
            margin: 0;
            height: 80vh;
            background: white;
            z-index: 0;
            background-image: url('../IMG/background.jpg');
            padding: 0;
            .warning-wrapper {
                padding: 0;
                max-height: 0vh;
                overflow: hidden;
                transition: all .6s ease;
                color: white;
                top: -1vh;
                z-index: 1;
                text-align: center;
                div{
                    background: orangered;
                    &:nth-child(2){
                        border-right: solid 2px white;
                        border-left: solid 2px white;
                    }
                }
                .col-xs-2{
                    cursor: pointer;
                    transition: all .3s ease;
                    background: darken(orangered,5%);
                    
                    &:hover{
                        background: darken(orangered,10%);
                    }
                }
                .disabler{
                    height: 100vh;
                    background: rgba(black,0);
                    transition: all 0s ease;
                }
                &.active {
                    max-height: 100vh;
                }
            }
            .screen {
                width: 100vw;
                position: absolute;
                transition: all 0.7s ease;
                height: 100%;
                &.prev {
                    right: 100vw;
                    height: 100%;
                    .container {
                        padding: 0;
                        height: 100%;
                    }
                }
                &.current {
                    height: 100%;
                    right: 0;
                    .container {
                        height: 100%;
                        padding: 0;
                    }
                }
                &.next {
                    right: -100vw;
                    height: 100%;
                    .container {
                        height: 100%;
                        padding: 0;
                    }
                }
                .container {
                    padding: 0;
                    @import 'modules/gender'; //1
                    @import 'modules/name'; //2
                    @import 'modules/age'; //3
                    //4
                    @import 'modules/size'; //4.1
                    @import 'modules/sizePrimi'; //4.2
                    @import 'modules/occasion'; //5
                    @import 'modules/weather'; //6
                    @import 'modules/looks'; //7
                    @import 'modules/color'; //8
                    @import 'modules/personality'; //9
                    @import 'modules/result'; //10
                    @import 'modules/login';
                    @import 'modules/register';
                    @import 'modules/404';
                    @import 'modules/e-cards';
                }
            }
        }
        .footer {
            background: white;
            margin: 0;
            height: 10vh;
            padding: 1.5vh 0;
            z-index: 1;
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
            .loader {
                transition: all 0.3s ease;
                -webkit-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.3);
                padding: 0;
                position: absolute;
                top: -1vh;
                height: 1vh;
                z-index: 1;
                background: white;
                .progress {
                    height: 100%;
                    transition: all 0.3s ease;
                    width: 0%;
                    background: white;
                    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0);
                    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0);
                    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0);
                    border-radius: 0;
                    z-index: 1;
                }
                &.girl {
                    .progress {
                        background: $girl;
                    }
                }
                &.boy {
                    .progress {
                        background: $boy;
                    }
                }
                &.bGirl {
                    .progress {
                        background: $bGirl;
                    }
                }
                &.bBoy {
                    .progress {
                        background: $bBoy;
                    }
                }
                &.nGirl {
                    .progress {
                        background: $nGirl;
                    }
                }
                &.nBoy {
                    .progress {
                        background: $nBoy;
                    }
                }
            }
            .brand {
                margin: auto;
                background-image: url('../IMG/Logo-01.png');
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &.admin {
            height: 100 + $ui-height;
            .ui {
                bottom: 0vh;
                background: transparent;
                overflow: visible;
                height: $ui-height;
            }
        }
        &.edit {
            .text-editable {
                border: dashed 1px orangered;
            }
            .colors {
                .color-wrap {
                    &:hover {
                        .select {
                            border-top-width: 3vh;
                            background: white;
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            &.admin {
                height: 100vh;
            }
        }
    }
}

@import 'modules/keyframes';
