<div class="header text-center">
  <div class="row">
    <div class="col-3 head head-back" (click)="navBack()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span class="hidden-xs-down">VOLVER</span>
    </div>
    <div class="col-6 head head-title row">
      <div class="title-decor title-decor-left col-1 hidden-xs-down"></div>
      <div class="col-12 col-sm-10 cont- text-editable hidden-xs-down" data-var="headTitle0">BUSCA TU ESTILO</div>
      <div class="title-decor title-decor-right col-1 hidden-xs-down"></div>
    </div>
    <a class="col-3 head head-exit" href="http://www.offcorss.com">
      <span class="exit-app hidden-xs-down">SALIR</span>
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
