<div class="col-xs-12 adminColors-container">
    <div class="col-xs-4 col-xs-offset-4 colors-table">
        <div class="col-xs-12 table-header">
            <div class="col-xs-3 color-name">Nombre</div>
            <div class="col-xs-3 color-hex">HEX</div>
            <div class="col-xs-3 color-prev">Previsualizar</div>
            <div class="col-xs-3 color-status">Estado</div>
        </div>
        <div class="col-xs-12 table-body">
        </div>
    </div>
</div>
<script>
    $('body > .content').css({
        'background-image': 'url(../IMG/background.jpg)',
        'background-size': 'initial'
    });
    $.ajax({
        type: 'POST',
        url: '/db/colors',
        data: {
            query: false
        },
        success: function(res) {
            for (var i = 0; i < res.length; i++) {
                $('.table-body').append('<div class="col-xs-12 color-wrap"><div class="col-xs-3 color-name">' + res[i].color + '</div><div class="col-xs-3 color-hex">' + res[i].hex + '</div><div class="col-xs-3 color-prev" style="background:' + res[i].hex + '"></div></div>');
                if (res[i].active) {
                    $('.table-body > .color-wrap:last-child').append('<div class="col-xs-3 color-status"><i class="fa fa-check" aria-hidden="true"></i></div>');
                } else {
                    $('.table-body > .color-wrap:last-child').append('<div class="col-xs-3 color-status"><i class="fa fa-times" aria-hidden="true"></i></div>');
                }

            }
            $('.color-wrap').click(function(e) {
                if ((e.target == $(this).find('.color-status')[0] || (e.target == $(this).find('.color-status > .fa')[0])) && (!$('.loader > .progress').hasClass('loading'))) {
                    var tempHex = $(this).find('.color-hex').html();
                    var tempThis = $(this);
                    var data = {
                        hex: tempHex
                    }
                    if (tempThis.find('.color-status > .fa').hasClass('fa-check')) {
                        data.status = false;
                    } else {
                        data.status = true;
                    }
                    $('.loader > .progress').addClass('loading');
                    $.ajax({
                        type: 'POST',
                        url: '/db/colors/toggle',
                        data: data,
                        success: function(response) {
                            tempThis.find('.color-status > .fa').toggleClass('fa-check fa-times');
                            $('.loader > .progress').removeClass('loading');
                        }
                    })
                }
            })
        }
    });

</script>
