<div class="col-xs-12 adminColors-container">
    <div class="col-xs-12 colors-table">
        <div class="col-xs-12 table-header">
            <div class="col-xs-2 color-name">Nombre</div>
            <div class="col-xs-4 color-hex">HEX</div>
            <div class="col-xs-2 color-status">Estado</div>
        </div>
        <div class="col-xs-12 table-body">
        </div>
    </div>
</div>
<script>
    $.ajax({
        type: 'POST',
        url: '/db/colors',
        success: function(res) {
            for (var i = 0; i < res.length;i++){
                $('.table-body').append('<div class="col-xs-12 color-wrap"><div class="col-xs-3 color-name">'+res[i].color+'</div><div class="col-xs-3 color-hex">'+res[i].hex+'</div><div class="col-xs-3 color-status">'+res[i].active+'</div><div class="col-xs-3 color-prev" style="background:'+res[i].hex+'"></div></div>');
            }
            console.log(res);
        }
    });

</script>
