<div class="col-xs-12 adminColors-container">
    <div class="col-xs-12 colors-table">
        <div class="col-xs-12 table-header">
        </div>
        <div class="col-xs-12 table-body">
            <div class="col-xs-2 color-name">AMARILLO</div>
            <div class="col-xs-4 color-name">#f4de48</div>
            <div class="col-xs-2 color-name">Activo</div>
        </div>
    </div>
</div>
<script>
    $.ajax({
        type: 'POST',
        url: '/db/colors',
        success: function(res) {
            console.log(res);
        }
    });

</script>
