<div class="col-xs-12 age">
    <div class="col-xs-12 col-sm-7 col-sm-offset-2 selection-wrap">
        <div class="col-xs-12 title">
            <h4 data-var="ageTitle" class="col-xs-12 text text-editable">¿Cuántos años tiene
                <N>NOMBRE</N>?</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-offset-2 age-wrapper">
        <div class="col-xs-12 pad">
            <div class="col-xs-4 row primi">
                <h3><b>NEWBORN</b><br/>(0-18 meses)</h3>

            </div>
            <div class="col-xs-4 row baby">
                <h3><b>BABY</b><br/> (1 – 5 años)</h3>

            </div>
            <div class="col-xs-4 row kid">
                <h3><b>NIÑOS</b><br/> (5 – 13 años)</h3>

            </div>
        </div>
        <div class="col-xs-12 container">
            <div class="col-xs-12 col-sm-4 primi">
                <div class="title"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 img">
        <div class="col-xs-12 image"></div>
    </div>
</div>
