<div class="col-xs-12 age">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 selection-wrap">
        <div class="col-xs-12 title">
            <h4 data-var="ageTitle" class="col-xs-12 col-sm-6 col-sm-offset-3 text text-editable">¿Cuántos años tiene
                <N>NOMBRE</N>?</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 age-wrapper">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 pad">
            <div class="col-xs-12 row primi">
                <h3>PRIMI (0-18 meses)</h3>

            </div>
            <div class="col-xs-12 row baby">
                <h3>BEBES (1 – 5 años)</h3>

            </div>
            <div class="col-xs-12 row kid">
                <h3>NIÑOS (5 – 13 años)</h3>

            </div>
        </div>
        <div class="col-xs-12 container">
            <div class="col-xs-12 col-sm-4 primi">
                <div class="title"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 img hidden-xs">
        <div class="col-xs-12 image"></div>
    </div>
</div>
