<div class="col-xs-12 age">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 selection-wrap">
        <div class="col-xs-12 title">
            <h4 data-var="ageTitle" class="col-xs-12 col-sm-6 col-sm-offset-3 text text-editable">¿Cuántos años tiene <N>NOMBRE</N>?</h4> </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 pad">
            <div class="col-xs-12 row">
                <div class="col-xs-4 number" value="1"><h4>Primi</h4></div>
                <div class="col-xs-4 number" value="2"><h4>2</h4></div>
                <div class="col-xs-4 number" value="3"><h4>3</h4></div>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-4 number" value="4"><h4>4</h4></div>
                <div class="col-xs-4 number" value="5"><h4>5</h4></div>
                <div class="col-xs-4 number" value="6"><h4>6</h4></div>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-4 number" value="7"><h4>7</h4></div>
                <div class="col-xs-4 number" value="8"><h4>8</h4></div>
                <div class="col-xs-4 number" value="9"><h4>9</h4></div>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-4 number" value="10"><h4>10</h4></div>
                <div class="col-xs-4 number" value="11"><h4>11</h4></div>
                <div class="col-xs-4 number" value="12"><h4>12</h4></div>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-4 col-xs-offset-4 number" value="13"><h4>13</h4></div>

            </div>
        </div>
        <div class="col-xs-12 container">
            <div class="col-xs-12 col-sm-4 primi"><div class="title"></div></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 img hidden-xs"> <div class="col-xs-12 image"></div> </div>
</div>
