<div class="col-xs-12 color">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 selection-wrap">
        <div class="col-xs-12 title">
            <h4 data-var="colorTitle" class="col-xs-12 col-sm-10 col-sm-offset-1 text text-editable">¿Cuál es el color favorito de
                <N></N>?
            </h4>
        </div>
    </div>
    <div class="col-xs-12 color-display visible-xs">
        <div class="color-wrap">
            <div class="half left-half" style="background-color : #f4de48;"></div>
            <div class="half right-half" style="background-color : #f6e363"></div>
            <div class="tag">AMARILLO</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 colors">
    </div>
    <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5 colorsContinue">Continuar</div>
</div>
