<div class="col-xs-12 customers-container">
    <div class="col-xs-12 title" style="text-align: left;">
        <h4 style="">Filtro</h4>
    </div>
    <div class="col-xs-12 table-filter">
        <select class="col-xs-12 col-sm-1 options">
         <option value="" disabled selected>Categoría</option>
          <option value="name" class="col-xs-12">Nombre</option>
          <option value="gender" class="col-xs-12">Género</option>
          <option value="age" class="col-xs-12">Edad</option>
          <option value="size_top" class="col-xs-12">Superior</option>
          <option value="size_bottom" class="col-xs-12">Inferior</option>
          <option value="size_shoe" class="col-xs-12">Zapatos</option>
          <option value="phone" class="col-xs-12">Teléfono</option>
          <option value="personality" class="col-xs-12">Personalidad</option>
          <option value="color" class="col-xs-12">Color</option>
          <option value="weather" class="col-xs-12">Clima</option>
          <option value="occasion" class="col-xs-12">Ocasión</option>
      </select>
        <input id="filter" type="text" class="col-xs-12 col-sm-1" placeholder="Filtrar...">
    </div>
    <div class="col-xs-12 title" style="text-align: left;">
        <h4 style="">Clientes</h4>
    </div>
    <div class="col-xs-12 customers-table">
        <div class="col-xs-12 table-header">
            <div class="col-xs-1 customer-title" data-sort="e_card">
                <h4>Imágen</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="name">
                <h4>Nombre</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="gender">
                <h4>Género</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="age">
                <h4>Edad</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="size_top">
                <h4>Superior</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="size_bottom">
                <h4>Inferior</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="size_shoe">
                <h4>Zapatos</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="phone">
                <h4>Teléfono</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="personality">
                <h4>Personalidad</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="color">
                <h4>Color</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="weather">
                <h4>Clima</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="occasion">
                <h4>Ocasión</h4>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 imgViewer">
    <i class="fa fa-times"></i>
    <img src="" alt="">
</div>
<script>
    $(function() {
        var appendCustomers = function(object) {
            if (object.length > 100) {
                $('.customers-container').append('<ul class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 table-pagination"><li class="col-xs-3 table-prev"><h6><i class="fa fa-angle-left"></i></h6></li><li class="col-xs-3 table-nextN pull-right"><h6><i class="fa fa-angle-right"></i></h6></li></ul>');
            }
            $('.customer-item').remove();
            for (var i = 0; i < object.length; i++) {
                $('.customers-table').append('<div class="col-xs-12 customer-item"></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-img"><img class="col-xs-12" src="../IMG/ecards/' + object[i].e_card + '"/></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-name"><div class="col-xs-12">' + object[i].name + '</div></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-gender"><div class="col-xs-12">' + object[i].gender + '</div></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-age"><div class="col-xs-12">' + object[i].age + '</div></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-top"><div class="col-xs-12">' + object[i].size_top + '</div></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-bottom"><div class="col-xs-12">' + object[i].size_bottom + '</div></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-shoe"><div class="col-xs-12">' + object[i].size_shoe + '</div></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-phone"><div class="col-xs-12">' + object[i].phone + '</div></div>');
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-personality"></div>');
                for (var j = 0; j < object[i].personality.length; j++) {
                    $('.customers-table > .customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].personality[j] + '</div>');
                }
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-color"></div>');
                for (var j = 0; j < object[i].color.length; j++) {
                    $('.customers-table > .customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].color[j] + '</div>');
                }
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-weather"></div>');
                for (var j = 0; j < object[i].weather.length; j++) {
                    $('.customers-table > .customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].weather[j] + '</div>');
                }
                $('.customers-table > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-occasion"></div>');
                for (var j = 0; j < object[i].occasion.length; j++) {
                    $('.customers-table > .customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].occasion[j] + '</div>');
                }
            }
            $('.customer-item').click(function() {
                if (!$(this).hasClass('active')) {
                    $('.customer-item.active').click();
                    $(this).addClass('active');
                } else {
                    $(this).removeClass('active');
                }
            });
            $('.customer-item > .customer-img > img').click(function() {
                if ($(this).parent().parent().hasClass('active')) {
                    loadImgToViewer($(this).attr('src'));
                    $(this).parent().parent().click();
                }
            });
        }
        var loadCustomers = function(sort) {
            $('.loader > .progress').addClass('loading');
            $.ajax({
                type: 'POST',
                url: '/db/customers',
                data: {
                    offset: 0,
                    sort: sort
                },
                success: function(res) {
                    appendCustomers(res);
                    $('.loader > .progress').removeClass('loading');
                }
            })
        }
        var filterCustomers = function(name, attr) {
            $('.loader > .progress').addClass('loading');
            $.ajax({
                type: 'POST',
                url: '/db/customers/filter',
                data: {
                    name: name,
                    attr: attr,
                    offset: 0
                },
                success: function(filteredRes) {
                    appendCustomers(filteredRes);
                    $('.loader > .progress').removeClass('loading');
                }
            });
        }
        loadCustomers('date');
        $('#filter').keyup(function(e) {
            if (!$('.loader > .progress').hasClass('loading')) {
                if ($('select').val() == null){
                    $('select option:eq(1)').prop('selected', true);
                }
                filterCustomers($('select').val(), $('#filter').val());
            }
        })
        $('.customer-title').click(function() {
            if (!$('.loader > .progress').hasClass('.loading')) {
                if (!$(this).hasClass('active')) {
                    loadCustomers($(this).attr('data-sort'));
                    $('.customer-title.active').removeClass('active');
                    $(this).addClass('active');
                }
            }
        });
        $('select').change(function() {
            if (!$('.loader > .progress').hasClass('loading')) {
                filterCustomers($('select').val(), $('#filter').val());
                $('.customer-title.active').removeClass('active');
                $('.customer-title[data-sort='+$(this).val()+']').addClass('active');
            }
        })
        $('.imgViewer').click(function() {
            $(this).removeClass('active');
        });
        var loadImgToViewer = function(url) {
            $('.imgViewer').toggleClass('active');
            $('.imgViewer > img').attr('src', url);
        }
    })

</script>
