<div class="col-xs-12 customers-container">
    <div class="col-xs-2 title" style="text-align: left;">
        <h4 style="">Filtro</h4>
    </div>
    <div class="col-xs-2 col-xs-offset-8 title" style="text-align: left;">
        <h4 style="">Navegación</h4>
    </div>
    <div class="col-xs-12"></div>
    <div class="col-xs-2 table-filter">
        <select class="col-xs-12 col-sm-5 options">
         <option value="" disabled selected>Categoría</option>
          <option value="name" class="col-xs-12">Nombre</option>
          <option value="gender" class="col-xs-12">Género</option>
          <option value="age" class="col-xs-12">Edad</option>
          <option value="size_top" class="col-xs-12">Superior</option>
          <option value="size_bottom" class="col-xs-12">Inferior</option>
          <option value="size_shoe" class="col-xs-12">Zapatos</option>
          <option value="phone" class="col-xs-12">Teléfono</option>
          <option value="personality" class="col-xs-12">Personalidad</option>
          <option value="color" class="col-xs-12">Color</option>
          <option value="weather" class="col-xs-12">Clima</option>
          <option value="occasion" class="col-xs-12">Ocasión</option>
      </select>
        <input id="filter" type="text" class="col-xs-12 col-sm-6" placeholder="Filtrar...">
    </div>
    <div class="col-xs-2 col-xs-offset-8 customers-nav">
        <i class="fa fa-angle-double-left col-xs-1"></i>
        <i class="fa fa-angle-left col-xs-1"></i>
        <div class="current-page-wrapper col-xs-8">
            Página <input class="current-page" type="number" placeholder="" min="1" max="" value="" /> de
            <div class="pages"></div>
        </div>
        <i class="fa fa-angle-right col-xs-1"></i>
        <i class="fa fa-angle-double-right col-xs-1"></i>
    </div>
    <div class="col-xs-12 title" style="text-align: left;">
        <h4 style="">Clientes</h4>
    </div>
    <div class="col-xs-12 customers-table">
        <div class="col-xs-12 table-header">
            <div class="col-xs-1 customer-title" data-sort="e_card">
                <h4 style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" title="E-card / Referencias">E-card / Referencias</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="name">
                <h4>Nombre</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="gender">
                <h4>Género</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="age">
                <h4>Edad</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="size_top">
                <h4>Superior</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="size_bottom">
                <h4>Inferior</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="size_shoe">
                <h4>Zapatos</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="phone">
                <h4>Teléfono</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="personality">
                <h4>Personalidad</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="color">
                <h4>Color</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="weather">
                <h4>Clima</h4>
            </div>
            <div class="col-xs-1 customer-title" data-sort="occasion">
                <h4>Ocasión</h4>
            </div>
            <div class="customers-scroll"></div>
        </div>
        <div class="col-xs-12 table-body"></div>
    </div>
</div>
<div class="col-xs-12 imgViewer">
    <i class="fa fa-times"></i>
    <div class="reference-list">
        <div class="title">
            <h2>Referencias</h2>
        </div>
        <ul class="references">
        </ul>
    </div>
    <img src="" alt="">
</div>
<script>
    $(function() {
        var currentPage = 1;
        var pages;
        var currentFilter = 'date';
        var tableScroll = 0;
        var tablePercentage = 0;
        var innerHeight;
        var tableHeight = $('.customers-table > .table-body').height();
        var appendCustomers = function(object, count, page) {
            pages = Math.ceil(count / 25);
            $('.customers-container > ul').remove();
            $('.customers-container > ul > li').click(function() {
                if (!$(this).hasClass('active') && !$('.loader > .progress').hasClass('loading')) {
                    if ($(this).hasClass('table-prev')) {
                        if ($('.customers-container > ul > li:nth-child(2)').find('h6').html() == 1 && $('.customers-container > ul > li:nth-child(2)').hasClass('active')) {} else {
                            loadCustomers('date', count, page - 1);
                        }
                    } else if ($(this).hasClass('table-nextN')) {
                        if ($('.customers-container > ul > li:nth-child(4)').find('h6').html() == Math.ceil(count / 25) && $('.customers-container > ul > li:nth-child(4)').hasClass('active')) {} else {
                            loadCustomers('date', count, page + 1);
                        }
                    } else {
                        loadCustomers('date', count, Number($(this).find('h6').html()));
                    }
                }
            });
            $('.customer-item').remove();
            for (var i = 0; i < object.length; i++) {
                $('.table-body').append('<div class="col-xs-12 customer-item"></div>');
                $('.table-body > .customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-img"><img class="col-xs-12" src="../IMG/ecards/' + object[i].e_card[0] + '"/><img class="col-xs-12" src="../IMG/ecards/' + object[i].e_card[1] + '"/><img class="col-xs-12" src="../IMG/ecards/' + object[i].e_card[2] + '"/></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-name"><div class="col-xs-12">' + object[i].name + '</div></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-gender"><div class="col-xs-12">' + object[i].gender + '</div></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-age"><div class="col-xs-12">' + object[i].age + '</div></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-top"><div class="col-xs-12">' + object[i].size_top + '</div></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-bottom"><div class="col-xs-12">' + object[i].size_bottom + '</div></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-shoe"><div class="col-xs-12">' + object[i].size_shoe + '</div></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-phone"><div class="col-xs-12">' + object[i].phone + '</div></div>');
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-personality"></div>');
                for (var j = 0; j < object[i].personality.length; j++) {
                    $('.customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].personality[j] + '</div>');
                }
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-color"></div>');
                for (var j = 0; j < object[i].color.length; j++) {
                    $('.customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].color[j] + '</div>');
                }
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-weather"></div>');
                for (var j = 0; j < object[i].weather.length; j++) {
                    $('.customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].weather[j] + '</div>');
                }
                $('.customer-item:last-child').append('<div class="col-xs-1 customer-desc customer-occasion"></div>');
                for (var j = 0; j < object[i].occasion.length; j++) {
                    $('.customer-item:last-child > .customer-desc:last-child').append('<div class="col-xs-12">' + object[i].occasion[j] + '</div>');
                }
            }
            $('.customer-item > .customer-img').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                arrows: false,
                centerMode: true,
                centerPadding: '0px',
                adaptiveHeight: true,
                infinite: true,
                initialSlide: 1,
                autoplaySpeed: 100
            });
            var slickInterval = setInterval(function() {
                $('.table-body > .customer-item > .customer-img').slick('unslick');
                $('.table-body > .customer-item > .customer-img').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    arrows: false,
                    centerMode: true,
                    centerPadding: '0px',
                    adaptiveHeight: true,
                    infinite: true,
                    initialSlide: 1,
                    autoplaySpeed: 2000
                });
                clearInterval(slickInterval);
            }, 300)
            $('.customer-item').click(function() {
                if (!$(this).hasClass('active')) {
                    $('.customer-item.active').click();
                    $(this).addClass('active');
                } else {
                    $(this).removeClass('active');
                    innerHeight = object.length * ($('.customer-item').height() - 1);
                    updateScroll(innerHeight);
                }
            });
            var prevCustomerHeight = $('.customer-item').height();
            var customerItemHeightChange = setInterval(function() {
                if (prevCustomerHeight != $('.customer-item.active').height()) {
                    $('.customer-item.active').trigger('heightChange');
                    prevCustomerHeight = $('.customer-item.active').height();
                }
            }, 300);
            innerHeight = object.length * ($('.customer-item').height() - 1);
            updateScroll(innerHeight);
            $('.customer-item').bind('heightChange', function() {
                innerHeight = ((object.length - 1) * ($('.customer-item').height() - 1)) + $(this).height();
                updateScroll(innerHeight);
            })
            $('.customer-item > .customer-img > .slick-list > .slick-track > img').click(function() {
                if ($(this).parent().parent().parent().parent().hasClass('active')) {
                    loadImgToViewer($(this).attr('src'));
                    $(this).parent().parent().parent().parent().click();
                }
            });
            $('.customers-nav > .current-page-wrapper > .current-page').val(currentPage);
            $('.customers-nav > .current-page-wrapper > .pages').html(pages);
        }
        var updateScroll = function(height, overflow) {
            if (height > tableHeight) {
                tableScroll = $('.customers-table > .table-body').scrollTop();
                tablePercentage = (tableScroll / (height - tableHeight)) * 100;
            } else {
                tablePercentage = 100;
            }
            $('.customers-scroll').css('width', tablePercentage + '%');
        }
        $('.customers-table > .table-body').scroll(function() {
            updateScroll(innerHeight);
        })
        var loadCustomers = function(sort, page, query) {
            $('.loader > .progress').addClass('loading');
            var dataLoadCustomers = {
                offset: (page - 1) * 25,
                sort: sort,
            }
            if (query) {
                dataLoadCustomers.query = query;
            }
            $.ajax({
                type: 'POST',
                url: '/db/customers',
                data: dataLoadCustomers,
                success: function(res) {
                    if( currentPage > Math.ceil(res.count/25)){
                        currentPage = Math.ceil(res.count/25);
                    }
                    appendCustomers(res.docs, res.count, page);
                    $('.loader > .progress').removeClass('loading');
                }
            })
        }
        $('#filter').keyup(function(e) {
            if (!$('.loader > .progress').hasClass('loading')) {
                if ($('select').val() == null) {
                    $('select option:eq(1)').prop('selected', true);
                    currentFilter = $('select option:eq(1)').prop('selected');
                }
                loadCustomers(currentFilter, currentPage, $('#filter').val());
            }
        })
        $('.customer-title').click(function() {
            if (!$('.loader > .progress').hasClass('.loading')) {
                if (!$(this).hasClass('active')) {
                    currentFilter = $(this).attr('data-sort');
                    loadCustomers(currentFilter, currentPage);
                    $('.customer-title.active').removeClass('active');
                    $(this).addClass('active');
                }
            }
        });
        $('select').change(function() {
            if (!$('.loader > .progress').hasClass('loading')) {
                currentFilter = $(this).val();
                loadCustomers(currentFilter, currentPage, $('#filter').val());
                $('.customer-title.active').removeClass('active');
                $('.customer-title[data-sort=' + $(this).val() + ']').addClass('active');
            }
        })
        $('.imgViewer').click(function(e) {
            if (e.target == $('.imgViewer')[0] || e.target == $('.imgViewer > .fa-times')[0]) {
                $(this).removeClass('active');
            }
        });
        var loadImgToViewer = function(url) {
            var dataUrl = url.split('/');
            dataUrl = dataUrl[dataUrl.length - 1];
            var data = {
                url: dataUrl
            }
            $('.loader > .progress').addClass('loading');
            $.ajax({
                type: "POST",
                url: '/db/e-cards/getReferences',
                data: data,
                success: function(refRes) {
                    $('.references > a').remove();
                    for (var i = 0; i < refRes.length; i++) {
                        $('.references').append('<a href="http://www.offcorss.com/' + refRes[i] + '" target="_blank"><li class="reference">' + refRes[i] + '</li></a>')
                    }
                    $('.imgViewer').toggleClass('active');
                    $('.imgViewer > img').attr('src', url);
                    $('.loader > .progress').removeClass('loading');
                }
            })
        }
        $('.customers-nav > .fa-angle-double-left').click(function() {
            if (currentPage > 1) {
                currentPage = 1;
                loadCustomers(currentFilter, currentPage);
            }
        })
        $('.customers-nav > .fa-angle-left').click(function() {
            if (currentPage > 1) {
                currentPage--;
                loadCustomers(currentFilter, currentPage);
            }
        })
        $('.customers-nav > .fa-angle-right').click(function() {
            if (currentPage < pages) {
                currentPage++;
                loadCustomers(currentFilter, currentPage);
            }
        })
        $('.customers-nav > .fa-angle-double-right').click(function() {
            if (currentPage < pages) {
                currentPage = pages;
                loadCustomers(currentFilter, currentPage);
            }
        })
        loadCustomers(currentFilter, currentPage);
    })

</script>
