<div class="col-xs-12 e-cards-container">
    <div class="col-xs-12 e-cards-table">
        <div class="col-xs-12 table-header">
            <div class="col-xs-4 e-card-title">
                <h4>Imágen</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Género</h4>
            </div>
            <div class="col-xs-2 e-card-title">
                <h4>Edad</h4>
            </div>
            <div class="col-xs-2 e-card-title">
                <h4>Referencia</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Clima</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Ocasión</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Editar</h4>
            </div>
            <div class="e-cards-scroll"></div>
        </div>
        <div class="col-xs-12 table-body">
        </div>
    </div>
    <div class="col-xs-2 col-xs-offset-5 e-cards-nav">
        <i class="fa fa-angle-double-left col-xs-1"></i>
        <i class="fa fa-angle-left col-xs-1"></i>
        <div class="current-page-wrapper col-xs-8">
            Página <input class="current-page" type="number" placeholder="" min="1" max="" /> de
            <div class="pages"></div>
        </div>
        <i class="fa fa-angle-right col-xs-1"></i>
        <i class="fa fa-angle-double-right col-xs-1"></i>
    </div>
</div>
<script>
    $(function() {
        var currentPage = 1;
        var perPage = 15;
        var pages;
        var tableScroll = 0;
        var tablePercentage = 0;
        var innerHeight;
        var tableHeight = $('.e-cards-table > .table-body').height();
        var requestECards = function(offset) {
            $('.progress').addClass('loading');
            $.ajax({
                type: "POST",
                url: '/db/e-cards',
                data: {
                    offset: (offset - 1) * perPage,
                    perPage: perPage
                },
                success: function(res) {
                    var count = res.count;
                    pages = Math.ceil(count / perPage);
                    $('.current-page').val(currentPage).attr('placeholder', currentPage).attr('max', pages);
                    $('.pages').html(pages);
                    $('.e-card-item').remove();
                    var e_cards = res.docs;
                    for (var i = 0; i < e_cards.length; i++) {
                        var e_card = e_cards[i];
                        $('.table-body').append('<div class="col-xs-12 e-card-item" data-id="' + e_card._id + '" ></div>');
                        $('.e-card-item:last-child').append('<div class="col-xs-4 e-card-desc e-card-img"></div>');
                        $('.e-card-item:last-child').append('<div class="col-xs-1 e-card-desc e-card-gender"><div class="col-xs-12">' + e_card.gender + '</div></div>');
                        $('.e-card-item:last-child').append('<div class="col-xs-2 e-card-desc e-card-age"><div class="col-xs-12">' + e_card.age + '</div></div>');
                        $('.e-card-item:last-child').append('<div class="col-xs-2 e-card-desc e-card-reference"></div>');
                        for (var j = 0; j < e_card.url.length; j++) {
                            $('.e-card-item:last-child > .e-card-img').append('<a href="http://www.offcorss.com/' + e_card.url[j].reference.split(',')[0] + '" target="_blank"><img class="col-xs-12" src="../IMG/ecards/' + e_card.url[j].path + '"/></a>');
                            $('.e-card-item:last-child >.e-card-desc:last-child').append('<div class="col-xs-12">' + e_card.url[j].reference + '</div>');
                        }
                        $('.e-card-item:last-child').append('<div class="col-xs-1 e-card-desc e-card-weather"></div>');
                        for (var j = 0; j < e_card.weather.length; j++) {
                            $('.e-card-item:last-child >.e-card-desc:last-child').append('<div class="col-xs-12">' + e_card.weather[j] + '</div>');
                        }
                        $('.e-card-item:last-child').append('<div class="col-xs-1 e-card-desc e-card-occasion"></div>');
                        for (var j = 0; j < e_card.occasion.length; j++) {
                            $('.e-card-item:last-child >.e-card-desc:last-child').append('<div class="col-xs-12">' + e_card.occasion[j] + '</div>');
                        }
                        $('.e-card-item:last-child').append('<div class="col-xs-1 e-card-desc e-card-edition"><div class="col-xs-12 fa fa-trash" title="Borrar"></div><div class="col-xs-6 fa fa-pencil hidden" title="Editar"></div></div>');
                        if (e_card.occasion.length > 1) {
                            $('.e-card-item:last-child > .e-card-occasion > div:first-child ').append(' <i class="fa fa-angle-down" aria-hidden="true"></i> ');
                        }
                        if (e_card.weather.length > 1) {
                            $('.e-card-item:last-child > .e-card-weather > div:first-child ').append(' <i class="fa fa-angle-down" aria-hidden="true"></i> ');
                        }
                    }
                    $('.e-card-item > .e-card-img').slick();
                    $('.e-card-item').click(function(e) {
                        if (e.target == $(this).find('.fa-trash')[0] && $(this).hasClass('active')) {
                            var tempTrashThis = $(this);
                            $('.warning-wrapper').toggleClass('active');
                            $('.warning-wrapper > .yes').click(function() {
                                var tempCurId = tempTrashThis.attr('data-id');
                                var tempThis = tempTrashThis;
                                $('.progress').addClass('loading');
                                $.ajax({
                                    type: 'POST',
                                    url: '/db/e-cards/delete',
                                    data: {
                                        id: tempCurId
                                    },
                                    success: function() {
                                        tempThis.click();
                                        tempThis.remove();
                                        $('.progress').removeClass('loading');
                                    }
                                });
                                $('.warning-wrapper').toggleClass('active');
                                $('.warning-wrapper > .yes').unbind();
                                $('.warning-wrapper > .no').unbind();
                            });
                            $('.warning-wrapper > .no').click(function() {
                                $('.warning-wrapper').toggleClass('active');
                                $('.warning-wrapper > .yes').unbind();
                                $('.warning-wrapper > .no').unbind();
                            })
                            return;
                        } else if (e.target == $(this).find('.fa-pencil')[0] && $(this).hasClass('active')) {
                            editingECard = true;
                            $(this).click();
                            $('.e-card-new > .e-card-desc > .fa-ban').click();
                            $('.e-card-new > .e-card-desc:nth-child(1) > div').append(
                                $(this).find('.e-card-desc:nth-child(1) > img')[0].outerHTML);
                            $('.e-card-new').click();
                            return;
                        }
                        if ($(this).hasClass('active')) {
                            $('.e-card-item.active > .e-card-desc').unbind();
                            $('.e-card-item.active > .e-card-desc').removeClass('col-xs-2');
                            $('.e-card-item.active > .e-card-desc').removeClass('col-xs-4');
                            $('.e-card-item.active > .e-card-desc').removeClass('col-xs-1');
                            $('.e-card-item.active > .e-card-desc:nth-child(1)').addClass('col-xs-4');
                            $('.e-card-item.active > .e-card-desc:nth-child(2)').addClass('col-xs-1');
                            $('.e-card-item.active > .e-card-desc:nth-child(3)').addClass('col-xs-2');
                            $('.e-card-item.active > .e-card-desc:nth-child(4)').addClass('col-xs-2');
                            $('.e-card-item.active > .e-card-desc:nth-child(5)').addClass('col-xs-1');
                            $('.e-card-item.active > .e-card-desc:nth-child(6)').addClass('col-xs-1');
                            $('.e-card-item.active > .e-card-desc:nth-child(7)').addClass('col-xs-1');
                            $('.table-header > .e-card-title').removeClass('col-xs-1 col-xs-2 col-xs-4');
                            $('.table-header > .e-card-title:nth-child(1)').addClass('col-xs-4');
                            $('.table-header > .e-card-title:nth-child(2)').addClass('col-xs-1');
                            $('.table-header > .e-card-title:nth-child(3)').addClass('col-xs-2');
                            $('.table-header > .e-card-title:nth-child(4)').addClass('col-xs-2');
                            $('.table-header > .e-card-title:nth-child(5)').addClass('col-xs-1');
                            $('.table-header > .e-card-title:nth-child(6)').addClass('col-xs-1');
                            $('.table-header > .e-card-title:nth-child(7)').addClass('col-xs-1');
                            $('.e-card-new').css('max-height', '7vh');
                            $(this).removeClass('active');
                            innerHeight = (e_cards.length) * ($('.e-card-item').height() - 1);
                            updateScroll(innerHeight);
                        } else {
                            if ($('.e-card-new').hasClass('active')) {
                                $('.fa-eye').click();
                            }
                            $('.e-card-item.active > .e-card-desc').unbind();
                            $('.e-card-item.active').removeClass('active');
                            $(this).toggleClass('active');
                            $('.e-card-new').css('max-height', '0vh');
                            $('.e-card-item.active > .e-card-desc:not(:last-child,:first-child)').hover(function() {
                                    $('.e-card-item.active > .e-card-desc').removeClass('col-xs-2');
                                    $('.e-card-item.active > .e-card-desc').addClass('col-xs-1');
                                    $(this).removeClass('col-xs-1 col-xs-2 col-xs-3 col-xs-4 col-xs-5 col-xs-6');
                                    $(this).addClass('col-xs-3');
                                    $('.table-header > .e-card-title').removeClass('col-xs-1 col-xs-2');
                                    $('.table-header > .e-card-title').addClass('col-xs-1');
                                    $('.table-header > .e-card-title:nth-child(' + ($(this).index() + 1) + ')').removeClass('col-xs-1 col-xs-2 col-xs-3 col-xs-4 col-xs-5 col-xs-6');
                                    $('.table-header > .e-card-title:nth-child(' + ($(this).index() + 1) + ')').addClass('col-xs-3');
                                    $('.e-card-item.active > .e-card-desc:nth-child(1)').removeClass('col-xs-1').addClass('col-xs-4');
                                    $('.table-header > .e-card-title:nth-child(1)').removeClass('col-xs-1').addClass('col-xs-4');
                                },
                                function() {
                                    $('.e-card-item.active > .e-card-desc').removeClass('col-xs-1 col-xs-2 col-xs-3 col-xs-4 col-xs-5 col-xs-6');
                                    $('.e-card-item.active > .e-card-desc:nth-child(1)').addClass('col-xs-4');
                                    $('.e-card-item.active > .e-card-desc:nth-child(2)').addClass('col-xs-1');
                                    $('.e-card-item.active > .e-card-desc:nth-child(3)').addClass('col-xs-2');
                                    $('.e-card-item.active > .e-card-desc:nth-child(4)').addClass('col-xs-2');
                                    $('.e-card-item.active > .e-card-desc:nth-child(5)').addClass('col-xs-1');
                                    $('.e-card-item.active > .e-card-desc:nth-child(6)').addClass('col-xs-1');
                                    $('.e-card-item.active > .e-card-desc:nth-child(7)').addClass('col-xs-1');
                                    $('.table-header > .e-card-title').removeClass('col-xs-1 col-xs-2 col-xs-3 col-xs-4 col-xs-5 col-xs-6');
                                    $('.table-header > .e-card-title:nth-child(1)').addClass('col-xs-4');
                                    $('.table-header > .e-card-title:nth-child(2)').addClass('col-xs-1');
                                    $('.table-header > .e-card-title:nth-child(3)').addClass('col-xs-2');
                                    $('.table-header > .e-card-title:nth-child(4)').addClass('col-xs-2');
                                    $('.table-header > .e-card-title:nth-child(5)').addClass('col-xs-1');
                                    $('.table-header > .e-card-title:nth-child(6)').addClass('col-xs-1');
                                    $('.table-header > .e-card-title:nth-child(7)').addClass('col-xs-1');
                                });
                            innerHeight = (e_cards.length + 1) * ($('.e-card-item').height() - 1);
                            updateScroll(innerHeight);
                        }
                    });
                    $('.progress').removeClass('loading');
                    var prevCustomerHeight = $('.e-card-item').height();
                    var customerItemHeightChange = setInterval(function() {
                        if (prevCustomerHeight != $('.e-card-item.active').height()) {
                            $('.e-card-item.active').trigger('heightChange');
                            prevCustomerHeight = $('.e-card-item.active').height();
                        }
                    }, 300);
                    innerHeight = (e_cards.length) * ($('.e-card-item').height() - 1);
                    updateScroll(innerHeight);
                    $('.e-card-item').bind('heightChange', function() {
                        innerHeight = ((e_cards.length - 1) * ($('.e-card-item').height() - 1)) + $(this).height();
                        updateScroll(innerHeight);
                    })
                }
            });
        }
        var updateScroll = function(height, overflow) {
            if (height > tableHeight) {
                tableScroll = $('.e-cards-table > .table-body').scrollTop();
                tablePercentage = (tableScroll / (height - tableHeight)) * 100;
            } else {
                tablePercentage = 100;
            }
            $('.e-cards-scroll').css('width', tablePercentage + '%');
        }
        requestECards(currentPage);
        $('.fa-angle-double-left').click(function() {
            if (currentPage != 1) {
                currentPage = 1;
                requestECards(currentPage);
            }
        });
        $('.fa-angle-left').click(function() {
            if (currentPage > 1) {
                currentPage--;
                requestECards(currentPage);
            }
        });
        $('.fa-angle-right').click(function() {
            if (currentPage < pages) {
                currentPage++;
                requestECards(currentPage);
            }
        });
        $('.fa-angle-double-right').click(function() {
            if (currentPage != pages) {
                currentPage = pages;
                requestECards(currentPage);
            }
        });
        $('.current-page').on('keyup', function(e) {
            if (e.keyCode == 13) {
                currentPage = $(this).val();
                requestECards(currentPage);
            }
        });
        $('.current-page').on('change click', function(e) {
            if ($(this).val() != currentPage) {
                currentPage = $(this).val();
                requestECards(currentPage);
            }
        });
        $('.e-cards-table > .table-body').scroll(function(e) {
            updateScroll(innerHeight);
        });
    })

</script>
