<div class="col-xs-12 e-cards-container">
    <div class="col-xs-12 e-cards-table">
        <div class="col-xs-12 table-header">
            <div class="col-xs-2 e-card-title">
                <h4>Image</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Gender</h4>
            </div>
            <div class="col-xs-2 e-card-title">
                <h4>Age</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Reference</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Type</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Color</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Weather</h4>
            </div>
            <div class="col-xs-2 e-card-title">
                <h4>Occasion</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Edit</h4>
            </div>
        </div>
        <div class="col-xs-12 e-card-new">
            <div class="col-xs-2 e-card-desc e-card-img-new">
                <div class="col-xs-12">
                    <i class="col-xs-12 fa fa-camera" aria-hidden="true"></i>
                    <input class="col-xs-12" type="file" accept="image/*">
                </div>
            </div>
            <div class="col-xs-1 e-card-desc">
                <div class="col-xs-12 ul-title">
                    <div class="col-xs-10">AGREGAR</div><i class="col-xs-2 fa fa-angle-down"></i>
                    <ul class="col-xs-12">
                        <li>FEMENINO</li>
                        <li>MASCULINO</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2 e-card-desc">
                <div class="col-xs-12 ul-title">
                    <div class="col-xs-10">AGREGAR</div><i class="col-xs-2 fa fa-angle-down"></i>
                    <ul class="col-xs-12">
                        <li>PRIMI (0-18M)</li>
                        <li>BEBE (18M - 5 AÑOS)</li>
                        <li>NIÑO (5 AÑOS - 13 AÑOS)</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-1 e-card-desc">
                <div class="col-xs-12 ref">
                    <input class="col-xs-8" type="number" placeholder="0" style="padding-right: 0;text-align:center;" min="0">
                    <div class="col-xs-4 fa fa-plus-square"></div>
                </div>
            </div>
            <div class="col-xs-1 e-card-desc">
                <div class="col-xs-12 ul-title">
                    <div class="col-xs-10">AGREGAR</div><i class="col-xs-2 fa fa-angle-down"></i>
                    <ul class="col-xs-12">
                        <li>ACCESORIO</li>
                        <li>BERMUDA</li>
                        <li>BODY</li>
                        <li>BOLSO</li>
                        <li>BUZO</li>
                        <li>CAMISA</li>
                        <li>CAMISETA</li>
                        <li>CHALECO</li>
                        <li>CHAQUETA</li>
                        <li>CONJUNTO</li>
                        <li>COMPLEMENTO</li>
                        <li>ENTERIZO</li>
                        <li>FALDA</li>
                        <li>GORRO</li>
                        <li>JEAN</li>
                        <li>PANTALONETA</li>
                        <li>SALIDA DE BAÑO</li>
                        <li>SANDALIAS</li>
                        <li>SHORT</li>
                        <li>SUDADERA</li>
                        <li>PANTALÓN</li>
                        <li>PIJAMA</li>
                        <li>OVERALL</li>
                        <li>VESTIDO</li>
                        <li>VESTIDO DE BAÑO</li>
                        <li>ZAPATOS</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-1 e-card-desc">
                <div class="col-xs-12 ul-title">
                    <div class="col-xs-10">AGREGAR</div><i class="col-xs-2 fa fa-angle-down"></i>
                    <ul class="col-xs-12">
                        <li>AMARILLO</li>
                        <li>ARENA</li>
                        <li>AZUL</li>
                        <li>CAFÉ</li>
                        <li>CORAL</li>
                        <li>BEIGE</li>
                        <li>BLANCO</li>
                        <li>DORADO</li>
                        <li>GRIS</li>
                        <li>ÍNDICO</li>
                        <li>MANDARINA</li>
                        <li>MORADO</li>
                        <li>PLATEADO</li>
                        <li>ROJO</li>
                        <li>ROSADO</li>
                        <li>VERDE MILITAR</li>
                        <li>VERDE</li>
                        <li>TURQUESA</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-1 e-card-desc">
                <div class="col-xs-12 ul-title">
                    <div class="col-xs-10">AGREGAR</div><i class="col-xs-2 fa fa-angle-down"></i>
                    <ul class="col-xs-12">
                        <li>CÁLIDO</li>
                        <li>FRÍO</li>
                        <li>TEMPLADO</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2 e-card-desc">
                <div class="col-xs-12 ul-title">
                    <div class="col-xs-10">AGREGAR</div><i class="col-xs-2 fa fa-angle-down"></i>
                    <ul class="col-xs-12">
                        <li>CASUAL</li>
                        <li>DÍA A DÍA</li>
                        <li>MODA</li>
                        <li>PLAYA</li>
                        <li>OCASIÓN ESPECIAL</li>
                        <li>VACACIONES</li>
                        <li>VERANO</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-1 e-card-desc">
                <div class="col-xs-12 fa fa-eye" aria-hidden="true" title="Hide"></div>
                <div class="col-xs-6 fa fa-plus-square" aria-hidden="true" title="Add"></div>
                <div class="col-xs-6 fa fa-ban" aria-hidden="true" title="Cancel"></div>
            </div>
        </div>
    </div>
    <ul class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 table-pagination">
        <li class="col-xs-1 table-prev">
            <h6><i class="fa fa-angle-left"></i></h6>
        </li>
        <li class="col-xs-1 table-next pull-right">
            <h6><i class="fa fa-angle-right"></i></h6>
        </li>
    </ul>
</div>
