<div class="col-xs-12 e-cards-container">
    <div class="col-xs-12 e-cards-table">
        <div class="col-xs-12 table-header">
            <div class="col-xs-2 e-card-title">
                <h4>Image</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Gender</h4>
            </div>
            <div class="col-xs-2 e-card-title">
                <h4>Age</h4>
            </div>
            <div class="col-xs-2 e-card-title">
                <h4>Reference</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Type</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Color</h4>
            </div>
            <div class="col-xs-1 e-card-title">
                <h4>Weather</h4>
            </div>
            <div class="col-xs-2 e-card-title">
                <h4>Occasion</h4>
            </div>
        </div>
    </div>
</div>
