<div class="col-xs-12 name">
    <div class="col-xs-12 col-sm-6 col-sm-offset-2 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 text text-editable" data-var="nameTitle">Cuéntanos cuál es su nombre</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-2 nameInput">
        <h1><input class="col-xs-12" type="text" placeholder="Escribe su nombre"></h1>
    </div>
    <div class="col-xs-12 col-sm-4 img hidden-xs">
        <div class="col-xs-12 image"></div>
    </div>
    <div class="col-xs-12 continue btn-hidden">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
            <h3 class="text-editable" data-var="nameBtn">Continuar</h3>
        </div>
    </div>
</div>
<script>
    $(function() {
        var random = Math.floor(Math.random() * 2);
        if (random == 1) {
            $('.name > .selection-wrap > .title > h4').html('Cuéntanos como se llama.');
        }
    })

</script>
