<div class="col-xs-12 occasion">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 text text-editable" data-var="occasionTitle">¿Para que ocasiones está buscando
                <N>MARTIN</N> la pinta?</h4>
        </div>
    </div>
    <div class="col-xs-12 occasions">
        <div class="prevOccasion visible-xs">
            <i class="fa fa-angle-left"></i>
        </div>
        <div class="nextOccasion visible-xs">
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
    <div class="col-xs-4 col-xs-offset-4 col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-5 occasionsBtn text-center disabled text-editable" data-var="occasionBtn">CONTINUAR</div>
</div>
<script>
    $(function() {
        var occasionIndex = 1;
        var slideOccasion = function(index) {
            $('.background.active').removeClass('active');
            $($('.background')[index]).addClass('active');
        }
        
        $('.nextOccasion').click(function() {
            if (occasionIndex < $('.background').length - 1) {
                occasionIndex++;
            } else {
                occasionIndex = 0;
            }
            slideOccasion(occasionIndex);
            if($('.background.active').hasClass('hidden')){
                $('.nextOccasion').click();
            }
        });
        $('.prevOccasion').click(function() {
            if (occasionIndex > 0) {
                occasionIndex--;
            } else {
                occasionIndex = $('.background').length - 1;
            }
            slideOccasion(occasionIndex);
            if($('.background.active').hasClass('hidden')){
                $('.prevOccasion').click();
            }
        });
    })

</script>
