<div class="col-xs-12 occasion">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 text text-editable" data-var="occasionTitle">¿Para que ocasiones está buscando
                <N>MARTIN</N> la pinta?</h4>
        </div>
    </div>
    <div class="col-xs-12 occasions">
        <div data-occasion="ABS" class="col-xs-4 col-md-2 background">
            <div class="col-xs-12 cont">
                <i class="fa fa-check"></i>
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title">
                    <div class="col-xs-12 occasion-desc">Sonidos, texturas y colores para estimular a tu bebé con las prendas de ABC Early Learning.
                    </div>
                    <h3 class="text-editable" data-var="occasionName1">ESTIMULACIÓN</h3>
                </div>
            </div>
        </div>
        <div data-occasion="basicos" class="col-xs-4 col-md-2 background">
            <div class="col-xs-12 cont">
                <i class="fa fa-check"></i>
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title">
                    <div class="col-xs-12 occasion-desc">Prendas versátiles y fáciles de combinar, indispensables para llenar todos tus días de diversión y comodidad.
                    </div>
                    <h3 class="text-editable" data-var="occasionName2">DÍA A DÍA</h3>
                </div>
            </div>
        </div>
        <div data-occasion="moda" class="col-xs-4 col-md-2 background">
            <div class="col-xs-12 cont">
                <i class="fa fa-check"></i>
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title">
                    <div class="col-xs-12 occasion-desc">Sonidos, texturas y colores para estimular a tu bebé con las prendas de ABC Early Learning.
                    </div>
                    <h3 class="text-editable" data-var="occasionName3">CASUAL</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 visible-xs"></div>
        <div data-occasion="playa" class="col-xs-4 col-md-2 background">
            <div class="col-xs-12 cont">
                <i class="fa fa-check"></i>
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title">
                    <div class="col-xs-12 occasion-desc">Sonidos, texturas y colores para estimular a tu bebé con las prendas de ABC Early Learning.
                    </div>
                    <h3 class="text-editable" data-var="occasionName4">VACACIONES EN LA PLAYA</h3>
                </div>
            </div>
        </div>
        <div data-occasion="special-occasion" class="col-xs-4 col-md-2 background">
            <div class="col-xs-12 cont">
                <i class="fa fa-check"></i>
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title">
                    <div class="col-xs-12 occasion-desc">Sonidos, texturas y colores para estimular a tu bebé con las prendas de ABC Early Learning.
                    </div>
                    <h3 class="text-editable" data-var="occasionName5">OCASIONES ESPECIALES</h3>
                </div>
            </div>
        </div>
        <div data-occasion="OG-sport" class="col-xs-4 col-md-2 background">
            <div class="col-xs-12 cont">
                <i class="fa fa-check"></i>
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title">
                    <div class="col-xs-12 occasion-desc">Sonidos, texturas y colores para estimular a tu bebé con las prendas de ABC Early Learning.
                    </div>
                    <h3 class="text-editable" data-var="occasionName6">PARA HACER DEPORTE</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-5 occasionsBtn text-center disabled text-editable" data-var="occasionBtn">CONTINUAR</div>
</div>
