<div class="col-xs-12 personality text-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 col-sm-8 col-sm-offset-2 text text-editable" data-var="personalityTitle">¿Qué hace especial a <k>NOMBRE</k>?</h4> </div>
    </div>
    <div class="col-xs-12 personWrap">
        <div data-personality="personalityName1" class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-1 person transparent">
           <i class="fa fa-check fa-3x"></i>
            <div class="background col-xs-12">
                <div class="offset col-xs-12"></div>
                <div class="title col-xs-12">
                    <h4 clas="text-editable" data-var="personalityName1">Activo</h4> </div>
            </div>
        </div>
        <div data-personality="personalityName2" class="col-xs-4 col-sm-2 person transparent">
           <i class="fa fa-check fa-3x"></i>
            <div class="background col-xs-12">
                <div class="offset col-xs-12"></div>
                <div class="title col-xs-12">
                    <h4 clas="text-editable" data-var="personalityName2">Deportivo</h4> </div>
            </div>
        </div>
        <div data-personality="personalityName3" class="col-xs-4 col-sm-2 person transparent">
           <i class="fa fa-check fa-3x"></i>
            <div class="background col-xs-12">
                <div class="offset col-xs-12"></div>
                <div class="title col-xs-12">
                    <h4 clas="text-editable" data-var="personalityName3">Artístico</h4> </div>
            </div>
        </div>
        <div data-personality="personalityName4" class="col-xs-4 col-sm-2 person transparent">
           <i class="fa fa-check fa-3x"></i>
            <div class="background col-xs-12">
                <div class="offset col-xs-12"></div>
                <div class="title col-xs-12">
                    <h4 clas="text-editable" data-var="personalityName4">Cool</h4> </div>
            </div>
        </div>
        <div data-personality="personalityName5" class="col-xs-4 col-sm-2 person transparent">
           <i class="fa fa-check fa-3x"></i>
            <div class="background col-xs-12">
                <div class="offset col-xs-12"></div>
                <div class="title col-xs-12">
                    <h4 clas="text-editable" data-var="personalityName5">Inteligente</h4> </div>
            </div>
        </div>
    </div>
    <div class="continue transparent col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h4 clas="text-editable" data-var="personalityBtn">Continuar</h4> </div>
</div>
