<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 register">
    <div class="form-title col-xs-12">
        <h2>Registro</h2>
    </div>
    <input class="col-xs-12 col-sm-10 col-sm-offset-1" id='username' title="Username" type="name" placeholder="Usuario">
    <input class="col-xs-12 col-sm-10 col-sm-offset-1" id='email' title="Email" type="email" placeholder="Correo electrónico">
    <input class="col-xs-12 col-sm-10 col-sm-offset-1" id='password' title="Password" type="password" placeholder="Contraseña">
    <input class="col-xs-12 col-sm-10 col-sm-offset-1" id='password-ver' title="Password" type="password" placeholder="Confirmar contraseña">
    <input class="col-xs-12 col-sm-10 col-sm-offset-1" id='name' title="Name" type="text" placeholder="Nombre">
    <input class="col-xs-12 col-sm-10 col-sm-offset-1" id='last_name' title="Last name" type="text" placeholder="Apellido">
    <div class="container col-xs-12">
        <div class="row hidden-xs" style="margin-bottom:5px;margin-top: 5px;text-align:center;">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">Género</div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1">Fecha de nacimiento</div>
        </div>
        <div class="row">
            <select class="col-xs-12 col-sm-3 col-sm-offset-2" id='gender' title="Gender">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
            <input class="col-xs-12 col-sm-3 col-sm-offset-1" id='birthday' type="date" title="Birthday">
        </div>
    </div>
    <button class="btn btn-light registerBtn col-xs-12 col-sm-10 col-sm-offset-1"><h4>Registrar</h4></button>
</div>
