<input id='username' title="Username" type="name" placeholder="Username">
<input id='email' title="Email" type="email" placeholder="Email">
<input id='password' title="Password" type="password" placeholder="Password">
<input id='name' title="Name" type="text" placeholder="Name">
<input id='last_name' title="Last name" type="text" placeholder="Last name">
<select id='gender' title="Gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>
<input id='birthday' type="date" title="Birthday">
<input id='access_level' type="number" title="Access level" min="0" max="8" value="8">
<button class="btn btn-light post">Register</button>
