<div class="col-xs-12 size">
    <div class="col-xs-10 col-xs-offset-1 sizes-guide">
        <i class="fa fa-times fa-2x"></i>
        <div class="col-xs-12 img">
        </div>
        <div class="scroll-bar">
            <div class="scroll-percent"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 text text-editable" data-var="sizeTitle" title="Guía de tallas" style="cursor:pointer;">
                ¿Cuál es la talla de
                <N>MARTÍN</N> en superiores, inferiores y calzado?
            </h4>
        </div>
        <div class="padPrev visible-xs">
            <i class="fa fa-angle-left"></i>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 padWrap top active">
            <div class="col-xs-12 image top">
                <img src="../IMG/Size/top.svg" alt="" />
            </div>
            <div class="col-xs-12 padSize"> </div>
            <div class="nav">
                <div data-pad="0" class="sel up">
                    <div class="fa fa-angle-up fa-2x"></div>
                </div>
                <div data-pad="0" class="sel down">
                    <div class="fa fa-angle-down fa-2x"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 padWrap bottom">
            <div class="col-xs-12 image bottom">
                <img src="../IMG/Size/bottom.svg" alt="" />
            </div>
            <div class="col-xs-12 padSize">
            </div>
            <div class="nav">
                <div data-pad="1" class="sel up">
                    <div class="fa fa-angle-up fa-2x"></div>
                </div>
                <div data-pad="1" class="sel down">
                    <div class="fa fa-angle-down fa-2x"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 padWrap shoes">
            <div class="col-xs-12 image shoes">
                <img src="../IMG/Size/shoes.svg" alt="" />
            </div>
            <div class="col-xs-12 padSize"> </div>
            <div class="nav">
                <div data-pad="2" class="sel up">
                    <div class="fa fa-angle-up fa-2x"></div>
                </div>
                <div data-pad="2" class="sel down">
                    <div class="fa fa-angle-down fa-2x"></div>
                </div>
            </div>
        </div>
        <div class="padNext visible-xs">
            <i class="fa fa-angle-right"></i>
        </div>

    </div>
</div>
<script>
    $(function() {
        var scrollFunction = function() {
            var contHeight = $('.sizes-guide > .img').height();
            var contentHeight = $('.sizes-guide > .img > img').height();
            if (contentHeight - contHeight < 0) {
                $('.scroll-bar > .scroll-percent').css('height', '100%');
            } else {
                var scrollPercent = contHeight / contentHeight * 100;
                $('.scroll-bar > .scroll-percent').css('height', scrollPercent + '%');
                $('.sizes-guide > .img').scroll(function() {
                    $('.scroll-bar > .scroll-percent').css('height', $(this).scrollTop() / contentHeight * 100 + scrollPercent + '%');
                })
            }
        }
        $('.size > .selection-wrap > .title > .text').click(function() {
            scrollFunction();
            $('.scroll-percent').css('background-color', $('.loader > .progress').css('background-color'));
            $('.sizes-guide').addClass('active');
        });
        $('.sizes-guide > .fa-times').click(function() {
            $('.sizes-guide').removeClass('active');
        });
        var currentPad = 0;
        var slidePad = function(index) {
            $('.padWrap.active').removeClass('active');
            $($('.padWrap')[index]).addClass('active');
        }
        $('.padPrev').click(function() {
            if (currentPad > 0) {
                currentPad--;
            } else {
                currentPad = $('.padWrap').length - 1;
            }
            slidePad(currentPad);
        });
        $('.padNext').click(function() {
            if (currentPad < $('.padWrap').length - 1) {
                currentPad++;
            } else {
                currentPad = 0;
            }
            slidePad(currentPad);
        });

    })

</script>
