<div class="col-xs-12 weather">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 col-sm-10 col-sm-offset-1 text text-editable" data-var="weatherTitle">¿En qué clima va a usar
                <N>MARTIN</N> su pinta?</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 weathers">
        <div data-weather="cold" class="col-xs-12 col-sm-4 background">
            <div class="col-xs-12 cont">
                <div class="col-xs-5 col-sm-12 img">
                    <img class="col-xs-12" src="../IMG/weather/cold.svg" alt="">
                </div>
                <div class="col-xs-7 col-sm-12 title">
                    <h3 class="text-editable" data-var="weatherName1">Frío</h3>
                </div>
            </div>
        </div>
        <div data-weather="tempered" class="col-xs-12 col-sm-4 background">
            <div class="col-xs-12 cont">
                <div class="col-xs-5 col-sm-12 img">
                    <img class="col-xs-12" src="../IMG/weather/tempered.svg" alt="">
                </div>
                <div class="col-xs-7 col-sm-12 title">
                    <h3 class="text-editable" data-var="weatherName2">Templado</h3>
                </div>
            </div>
        </div>
        <div data-weather="hot" class="col-xs-12 col-sm-4 background">
            <div class="col-xs-12 cont">
                <div class="col-xs-5 col-sm-12 img">
                    <img class="col-xs-12" src="../IMG/weather/sunny.svg" alt="">
                </div>
                <div class="col-xs-7 col-sm-12 title">
                    <h3 class="text-editable" data-var="weatherName3">Caliente</h3>
                </div>
            </div>
        </div>
    </div>
</div>
