doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Offcorss Assistant
        link(rel='icon', href='favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='fonts/styles.css')
        link(rel='stylesheet', href='css/main.css')
    body
        .col-xs-12.header
            .col-xs-3.head.transparent
                .col-xs-12.cont.back
                    i.fa.fa-angle-left(aria-hidden='true')
                    span VOLVER
            .col-xs-6.head.title
                .col-xs-12.cont.text-editable(data-var='headTitle0') BUSCA TU ESTILO
            .col-xs-3.head
                .col-xs-12.cont
                    a(href='http://www.offcorss.com/')
                        i.fa.fa-times.fa-1x.exit(aria-hidden='true')
        .col-xs-12.content
            .col-xs-12.warning-wrapper
                .col-xs-8.title
                    h2 ¿Estás seguro?
                .col-xs-2.yes
                    h2 Si
                .col-xs-2.no
                    h2 No
                .col-xs-12.disabler
            .screen.prev
                .container.col-xs-12
            .screen.current
                .container.col-xs-12
            .screen.next
                .container.col-xs-12
        footer.col-xs-12.footer
            .col-xs-12.loader
                .progress
            .col-xs-12.brand
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/jquery.form.min.js')
    script(src='js/typeit.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script.
        var admin = !{admin};
        var status = !{status};
    script(src='js/variables.js')
    script(src='js/main.js')
