<div class="col-xs-12 color">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 selection-wrap">
        <div class="col-xs-12 title">
            <h4 data-var="colorTitle" class="col-xs-12 col-sm-6 col-sm-offset-3 text text-editable">¿Cuál es el color favorito de <N>MARTÍN</N>?</h4> </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 colors">
        <div class="col-xs-12 col-sm-6 col-md-3 color-wrap">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 select text-editable" data-color="0" data-var="colorName1">NARANJA</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 color-wrap">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 select text-editable" data-color="1" data-var="colorName2">VERDE</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 color-wrap">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 select text-editable" data-color="2" data-var="colorName3">AMARILLO</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 color-wrap">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 select text-editable" data-color="3" data-var="colorName4">ROJO</div>
        </div>
    </div>
</div>
