<div class="col-xs-12 looks">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 col-sm-6 col-sm-offset-3 text text-editable">¿Cuál de estos looks te gusta más?</h4> </div>
    </div>
    <div class="col-xs-12 looksWrap">
        <div data-look="0" class="col-xs-6 col-md-3 background">
            <div class="col-xs-12 cont">
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title"> <i class="fa fa-heart-o" /> </div>
            </div>
        </div>
        <div data-look="1" class="col-xs-6 col-md-3 background">
            <div class="col-xs-12 cont">
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title"> <i class="fa fa-heart-o" /> </div>
            </div>
        </div>
        <div data-look="2" class="col-xs-6 col-md-3 background">
            <div class="col-xs-12 cont">
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title"> <i class="fa fa-heart-o" /> </div>
            </div>
        </div>
        <div data-look="3" class="col-xs-6 col-md-3 background">
            <div class="col-xs-12 cont">
                <div class="col-xs-12 img"></div>
                <div class="col-xs-12 title"> <i class="fa fa-heart-o" /> </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 continueLooks transparent">
        <h3 class="col-xs-12">CONTINUAR</h3>
    </div>
</div>
