<div class="col-xs-12 sizePrimi">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 selection-wrap">
        <div class="col-xs-12 title">
            <h4 class="col-xs-12 col-sm-6 col-sm-offset-3 text text-editable" data-var="sizePrimiTitle">¿Cuál es la talla de <N>NOMBRE</N>?</h4> </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 padWrap bottom">
            <div class="col-xs-12 image">
                <div class="clothes-top-bottom"></div>
            </div>
            <div class="col-xs-12 padSizePrimi">
            </div>
            <div class="nav">
                    <div class="sel up">
                        <div class="fa fa-angle-up fa-2x"></div>
                    </div>
                    <div class="sel down">
                        <div class="fa fa-angle-down fa-2x"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
