.adminColors-container {
    font-family: 'Roboto condensed', sans-serif;
    padding: 2vh 15px;
    .colors-table {
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        text-align: center;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        line-height: 5vh;
        .table-header {
            z-index: 5;
            padding: 0;
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        }
        .table-body {
            overflow: scroll;
            overflow-x: hidden;
            padding: 0;
            height: 70vh;
            .color-wrap {
                padding: 0;
                border: solid 1px whitesmoke;
                z-index: 1;
                white-space: nowrap;
                .color-prev {
                    height: 5vh;
                }
                .color-status {
                    cursor: pointer;
                    transition: all .3s ease;
                    .fa-times {
                        color: lightcoral;
                    }
                    .fa-check {
                        color: lightgreen;
                    }
                    &:hover {
                        background: whitesmoke;
                    }
                }
            }
        }
    }
    .occasions-table {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 5px;
        padding: 0;
        padding-top: 0;
        overflow: auto;
        max-height: 65vh;
        height: auto;
        text-align: center;
        .occasion-gender {
            padding: 0;
            h2 {
                background: white;
                border-bottom: solid 1px darken(whitesmoke, 5%);
                cursor: pointer;
                margin: 0;
                -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                z-index: 0;
                padding: 1%;
                font-weight: 100;
                line-height: 5vh;
                font-size: 22px;
            }
            ul.first-occasion-ul {
                list-style: none;
                transition: all .3s ease;
                overflow: hidden;
                background: white;
                max-height: 0;
                opacity: 0;
                z-index: 1;
                padding: 0;
                li.first-level {
                    background: white;
                    z-index: 1;
                    cursor: pointer;
                    transition: all .3s ease;
                    border-left: solid 1vw;
                    h3 {
                        color: white;
                        font-weight: 500;
                        font-size: 20px;
                        margin: 0;
                        line-height: 4vh;
                        transition: all .3s ease;
                    }
                    ul.second-occasion-ul {
                        padding: 0;
                        max-height: 0vh;
                        transition: all .3s ease;
                        overflow: hidden;
                        list-style-type: none;
                        li.second-level {
                            background: white;
                            line-height: 3vh;
                            font-size: 18px;
                            border-left: solid 1vw;
                            border-color: orangered;
                            transition: all .3s ease;
                            &:hover {
                                color: white;
                                background: orangered;
                            }
                            &.active{
                                border-color : lightgreen;
                                &:hover{
                                    background: lightgreen;
                                }
                            }
                        }
                    }
                }
                &.active {
                    max-height: 142vh;
                    opacity: 1;
                    li.first-level {
                        max-height: auto;
                        ul.second-occasion-ul.active {
                            max-height: 25vh;
                        }
                    }
                }
            }
            &:nth-child(1) {
                ul.first-occasion-ul {
                    li.first-level {
                        &:nth-child(1) {
                            border-color: $nBoy;
                            h3 {
                                color: $nBoy;
                            }
                            &:hover {
                                background: $nBoy;
                                h3 {
                                    color: white;
                                }
                            }
                        }
                        &:nth-child(2) {
                            border-color: $bBoy;
                            h3 {
                                color: $bBoy;
                            }
                            &:hover {
                                background: $bBoy;
                                h3 {
                                    color: white;
                                }
                            }
                        }
                        &:nth-child(3) {
                            border-color: $boy;
                            h3 {
                                color: $boy;
                            }
                            &:hover {
                                background: $boy;
                                h3 {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                ul.first-occasion-ul {
                    li.first-level {
                        &:nth-child(1) {
                            border-color: $nGirl;
                            h3 {
                                color: $nGirl;
                            }
                            &:hover {
                                background: $nGirl;
                                h3 {
                                    color: white;
                                }
                            }
                        }
                        &:nth-child(2) {
                            border-color: $bGirl;
                            h3 {
                                color: $bGirl;
                            }
                            &:hover {
                                background: $bGirl;
                                h3 {
                                    color: white;
                                }
                            }
                        }
                        &:nth-child(3) {
                            border-color: $girl;
                            h3 {
                                color: $girl;
                            }
                            &:hover {
                                background: $girl;
                                h3 {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .git {
        height: auto;
        margin-bottom: 2vh;
        padding: 2%;
        background: white;
        overflow: auto;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        .status {
            margin-top: 2vh;
            p {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .load-div {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background: white;
        height: auto;
        padding: 2%;
        transition: all .3s ease;
        overflow: hidden;
        @keyframes loadDivLoading {
            0% {
                left: -10%;
                width: 10%;
            }
            50% {
                width: 25%;
            }
            75% {
                width: 50%;
            }
            100% {
                left: 100%;
            }
        }
        .load-div-loader {
            position: absolute;
            display: block;
            height: 10px;
            width: 10px;
            background: transparent;
            top: 0;
            left: -10%;
            transition: all .3s ease;
            &.loading {
                background: $yellow;
                animation: loadDivLoading 3s ease infinite;
            }
        }
        .btn {
            margin-top: 2vh;
            .controlBtnLoader {
                display: block;
                width: 10px;
                height: 10px;
                background: red;
            }
        }
        .load {
            background: lightgreen;
            cursor: pointer;
            color: white;
            height: 20vh;
            line-height: 20vh;
            font-size: 5vw;
            border-radius: 5px;
            transition: all .3s ease;
            .fa {
                transition: all .3s ease;
            }
            &:hover {
                .fa {
                    transform: scale(1.1);
                }
            }
        }
    }
}
