.adminColors-container {
    font-family: 'Roboto condensed', sans-serif;
    padding: 2vh 15px;
    .colors-table {
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        text-align: center;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        line-height: 5vh;
        .table-header {
            z-index: 5;
            padding: 0;
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        }
        .table-body {
            overflow: scroll;
            overflow-x: hidden;
            padding: 0;
            height: 70vh;
            .color-wrap {
                padding: 0;
                border: solid 1px whitesmoke;
                z-index: 1;
                white-space: nowrap;
                .color-prev {
                    height: 5vh;
                }
                .color-status {
                    cursor: pointer;
                    transition: all .3s ease;
                    .fa-times {
                        color: lightcoral;
                    }
                    .fa-check {
                        color: lightgreen;
                    }
                    &:hover {
                        background: whitesmoke;
                    }
                }
            }
        }
    }
    .occasions-table {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 5px;
        text-align: center;
        padding: 0;
        padding-top: 0;
        overflow: hidden;
        height: auto;
        .occasion-gender {
            padding: 0;
            h2 {
                background: white;
                border-bottom: solid 1px darken(whitesmoke,5%);
                cursor: pointer;
                margin: 0;
                -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                z-index: 0;
                padding: 1%;
                font-weight: 100;
            }
            ul {
                list-style: none;
                transition: all .3s ease;
                overflow: hidden;
                background: white;
                max-height: 0;
                opacity: 0;
                z-index: 1;
                padding: 0;
                li {
                    background: white;
                    z-index: 1;
                    line-height: 5vh;
                    color: white;
                    font-weight: 500;
                    font-size: 22px;
                    cursor: pointer;
                    transition: all .3s ease;
                    border-left: solid 1vw;
                }
                &.active {
                    max-height: 16vh;
                    opacity: 1;
                }
            }
            &:nth-child(1){
                ul{
                    li{
                        &:nth-child(1){
                            color: $nBoy;
                            border-color: $nBoy;
                            &:hover{
                                background : $nBoy;
                                color : white;
                            }
                        }
                        &:nth-child(2){
                            color: $bBoy;
                            border-color: $bBoy;
                            &:hover{
                                background : $bBoy;
                                color : white;
                            }
                        }
                        &:nth-child(3){
                            color: $boy;
                            border-color: $boy;
                            &:hover{
                                background : $boy;
                                color : white;
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                ul{
                    li{
                        &:nth-child(1){
                            color: $nGirl;
                            border-color: $nGirl;
                            &:hover{
                                color : white;
                                background : $nGirl;
                            }
                        }
                        &:nth-child(2){
                            color: $bGirl;
                            border-color: $bGirl;
                            &:hover{
                                color : white;
                                background : $bGirl;
                            }
                        }
                        &:nth-child(3){
                            color: $girl;
                            border-color: $girl;
                            &:hover{
                                color : white;
                                background : $girl;
                            }
                        }
                    }
                }
            }
        }
    }
    .git {
        height: auto;
        margin-bottom: 2vh;
        padding: 2%;
        background: white;
        overflow: auto;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        .status {
            margin-top: 2vh;
            p {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .load-div {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background: white;
        height: auto;
        padding: 2%;
        transition: all .3s ease;
        overflow: hidden;
        @keyframes loadDivLoading {
            0% {
                left: -10%;
                width: 10%;
            }
            50% {
                width: 25%;
            }
            75% {
                width: 50%;
            }
            100% {
                left: 100%;
            }
        }
        .load-div-loader {
            position: absolute;
            display: block;
            height: 10px;
            width: 10px;
            background: transparent;
            top: 0;
            left: -10%;
            transition: all .3s ease;
            &.loading {
                background: $yellow;
                animation: loadDivLoading 3s ease infinite;
            }
        }
        .btn {
            margin-top: 2vh;
            .controlBtnLoader {
                display: block;
                width: 10px;
                height: 10px;
                background: red;
            }
        }
        .load {
            background: lightgreen;
            cursor: pointer;
            color: white;
            height: 20vh;
            line-height: 20vh;
            font-size: 5vw;
            border-radius: 5px;
            transition: all .3s ease;
            .fa {
                transition: all .3s ease;
            }
            &:hover {
                .fa {
                    transform: scale(1.1);
                }
            }
        }
    }
}
