.adminColors-container {
    padding: 2vh 15px;
    .colors-table {
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        text-align: center;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        line-height: 5vh;
        .table-header {
            padding: 0;
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        }
        .table-body {
            overflow: scroll;
            padding: 0;
            height: 70vh;
            .color-wrap {
                border: solid 1px whitesmoke;
                z-index: 1;
            }
        }
    }
}
