.color {
    z-index: 1;
    padding: 5vh 0;
    height: 100%;
    overflow: scroll;
    .selection-wrap {
        text-align: center;
        .title {
            margin-bottom: 1vh;
            .text {
                transition: all 0.3s ease;
                background: transparent;
                color: white;
                border-bottom: solid 1px $yellow;
                padding: 2%;
                font-size: 45px;
            }
        }
    }
    .colors {
        height: auto;
        padding-bottom: 2vh;
        padding-left: 5%;
        padding-top: 3vh;
        .color-wrap {
            position: relative;
            transition: all .3s ease;
            height: 7.5vw;
            width: 7.5vw;
            background: transparent;
            border-radius: 50%;
            display: inline-block;
            border: solid 5px white;
            padding: 0;
            overflow: hidden;
            cursor: pointer;
            margin-right: 2vw;
            margin-bottom: 2.5vh;
            .tag {
                position: absolute;
                line-height: 6.5vw;
                font-size: 16px;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                left: 2%;
                width: 90%;
                text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
            }
            .half {
                position: absolute;
                height: 160%;
                transform: rotate(45deg);
            }
            .left-half {
                background: darken($yellow, 2.5%);
                left: -10%;
                top: -10%;
                width: 120%;
            }
            .right-half {
                background: darken($yellow, 0%);
                left: 0%;
                bottom: 0;
                width: 70%;
                transition: all .3s ease;
            }
            &:hover {
                transform: scale(1.1);
                .half {
                    transform: rotate(0deg);
                }
                .right-half {
                    left: -20%;
                }
            }
        }
    }
    &.boy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $boy;
                }
            }
        }
    }
    &.girl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $girl;
                }
            }
        }
    }
    &.bBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bBoy;
                }
            }
        }
    }
    &.bGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bGirl;
                }
            }
        }
    }
    &.nBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nBoy;
                }
            }
        }
    }
    &.nGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nGirl;
                }
            }
        }
    }
    .continue.transparent {
        z-index: -1;
        h3 {
            color: transparent;
            cursor: default;
            background: transparent;
            z-index: -1;
        }
    }
}

@media (max-width: 767px) {
    .color {
        padding-top: 0;
        .selection-wrap {
            padding-top: 0;
            .title {
                .text {
                    font-size: 2em;
                    padding-bottom: 2vh;
                }
            }
        }
        .colors {
            padding-bottom: 2vh;
            height: auto;
            padding-left: 8%;
            .color-wrap {
                height: 12.5vh;
                width: 12.5vh;
                .tag {
                    display: none;
                }
            }
        }
    }
}
