.customers-container {
    text-align: center;
    overflow: auto;
    height: 100%;
    padding-top: 10px;
    font-family: 'Roboto condensed', sans-serif;
    .title {
        h4 {
            margin: 5px 0;
        }
    }
    .table-filter {
        list-style-type: none;
        background: white;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 5px;
        line-height: 5vh;
        height: 5vh;
        margin-bottom: 10px;
        text-align: center;
        select {
            height: 80%;
            top: 10%;
            border: none;
            outline: none;
            border-bottom: solid 2px $yellow;
            transition: all .3s ease;
            padding: 1px;
        }
        input {
            height: 80%;
            top: 10%;
            border: none;
            border-bottom: solid 2px $yellow;
            margin-left: 1vw;
            outline: none;
            transition: all .3s ease;
            &:focus {
                border-radius: 5px;
            }
        }
    }
    .deleteCustBtn{
        button{
            background: lightcoral;
            color: white;
            border-color: darken(lightcoral,25%);
            font-weight: 500;
            transition: all .2s ease;
            outline: none;
            &:hover{
                background: darken(lightcoral,35%);
            }
        }
    }
    .getCustomersExcel{
        a{
            button{
                background: lighten(#0a6332,10%);
                color: white;
                outline: none;
                transition: all .3s ease;
                &:hover{
                    background: #0a6332;
                }
            }
        }
    }
    .customers-nav {
        text-align: center;
        background: white;
        padding: 0;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        line-height: 3vh;
        padding: 1vh 1vw;
        .fa {
            padding: 0;
            display: inline-block;
            font-size: 24px;
            cursor: pointer;
            transition: all .3s ease;
            color: #666;
            &:hover {
                color: $yellow;
            }
        }
        .current-page-wrapper {
            padding: 0;
            display: inline-block;
            .current-page {
                width: 40px;
                padding-left: 2.5px;
                border: none;
                border-bottom: solid 1px $yellow;
                outline: none;
            }
            .pages {
                display: inline-block;
            }
        }
    }
    .customers-table {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        padding: 0;
        height: auto;
        background: white;
        border-radius: 5px;
        overflow: hidden;
        .table-header {
            padding: 0;
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
            z-index: 5;
            .customer-title {
                border-right: solid 1px darken(whitesmoke, 5%);
                background: white;
                cursor: pointer;
                transition: all .3s ease;
                &:first-child {
                    border-top-left-radius: 5px;
                }
                &:last-child {
                    border-right: none;
                    border-top-right-radius: 5px;
                }
                &:hover {
                    background: darken(whitesmoke, 0%);
                }
                &.active {
                    background: darken(whitesmoke, 5%);
                }
            }
            .customers-scroll {
                background: $yellow;
                position: absolute;
                display: block;
                bottom: 0;
                width: 0%;
                height: 10%;
                transition: all .3s ease;
            }
        }
        .table-body {
            padding: 0;
            height: 55vh;
            overflow: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                display: none;
            }
            .not-found {
                line-height: 7vh;
                display: none;
                &.active {
                    display: inherit;
                }
            }
            .customer-item {
                overflow: hidden;
                text-align: center;
                padding: 0;
                max-height: 7vh;
                transition: all .4s ease;
                cursor: pointer;
                .customer-desc {
                    padding: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    border-right: solid 1px darken(whitesmoke, 5%);
                    cursor: pointer;
                    transition: all .3s ease;
                    height: 100%;
                    &:last-child {
                        border-right: none;
                    }
                    &.customer-img-new {
                        i {
                            line-height: 7vh;
                        }
                    }
                    div {
                        line-height: 7vh;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        transition: all .3s ease;
                        background: transparent;
                        padding: 0 15px;
                        input {
                            border: none;
                            outline: none;
                            &[type="file"] {
                                width: 0.1px;
                                height: 0.1px;
                                opacity: 0;
                                overflow: hidden;
                                position: absolute;
                                z-index: -1;
                            }
                        }
                        .fa {
                            padding: 0;
                            line-height: 7vh;
                        }
                        ul {
                            max-height: 0vh;
                            margin: 0;
                            transition: all .3s ease;
                            color: transparent;
                            background: transparent;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            li {
                                list-style-type: none;
                                line-height: 4.5vh;
                            }
                            &.active {
                                background: white;
                                color: #333;
                                max-height: 400vh;
                                padding: 0;
                                -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1) inset;
                                -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1) inset;
                                box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1) inset;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                                li {
                                    background: transparent;
                                    transition: all .3s ease;
                                    border-left: solid 2px transparent;
                                    &:hover {
                                        background: whitesmoke;
                                    }
                                    &.disabled {
                                        cursor: default;
                                        background: whitesmoke;
                                        border-left: solid 2px lime;
                                    }
                                }
                            }
                        }
                        &.slick-list {
                            padding: 0;
                            .slick-track {
                                padding: 0;
                            }
                        }
                    }
                }
                .customer-img {
                    padding: 8px 0px;
                    overflow: hidden;
                    text-align: center;
                    img {
                        transition: all .3s ease;
                        border-radius: 20px;
                        padding: 0;
                    }
                }
                &:hover {
                    background: white;
                    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.125);
                    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.125);
                    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.125);
                    .customer-desc {
                        border-color: darken(whitesmoke, 5%);
                    }
                }
                .fa-angle-down {
                    transition: all .3s ease;
                    transform: rotate(0deg);
                }
                .fa {
                    transition: all .3s ease;
                }
                .fa-camera {
                    &:hover {
                        color: #6DB75D;
                    }
                }
                &.active {
                    max-height: 400vh;
                    cursor: default;
                    background: white;
                    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                    .customer-desc {
                        border-color: darken(whitesmoke, 5%);
                        div {
                            &:hover {
                                background: whitesmoke;
                            }
                        }
                        &:last-child {
                            div {
                                &:hover {
                                    background: white;
                                }
                            }
                        }
                    }
                    .fa-angle-down {
                        transform: rotate(180deg);
                    }
                    .fa-eye {
                        &:before {
                            content: "\f070";
                        }
                        &:hover {
                            color: #00AFD3;
                            background: white;
                        }
                    }
                    .fa-trash,
                    .fa-ban {
                        &:hover {
                            color: orangered;
                            background: white;
                        }
                    }
                    .fa-plus-square {
                        &:hover {
                            color: #6DB75D;
                        }
                    }
                    .fa-pencil {
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
}

.imgViewer {
    height: 100%;
    background: rgba(black, 0.6);
    z-index: 10;
    position: absolute;
    transition: all .3s ease;
    text-align: center;
    overflow: auto;
    opacity: 1;
    cursor: pointer;
    top: 100%;
    .fa-times {
        position: absolute;
        right: 3vw;
        color: white;
        font-size: 30px;
        top: 3vh;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            color: orangered;
        }
    }
    .reference-list {
        background: darken(white, 0%);
        width: 20%;
        position: absolute;
        top: 5%;
        left: 5%;
        text-align: center;
        border-radius: 5px;
        cursor: default;
        height: 90%;
        overflow: hidden;
        .title {
            text-transform: uppercase;
            padding: 4%;
            h2 {
                font-weight: 100;
                padding-bottom: 2vh;
                border-bottom: solid 1px $yellow;
            }
        }
        .references {
            padding: 0;
            list-style-type: none;
            height: 75%;
            overflow: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar{
                display: none;
            }
            h4{
                background: $yellow;
                margin-top: 0;
                padding: 2.5%;
                cursor: pointer;
                transition: all .3s ease;
                &:hover{
                    background: darken($yellow,10%);
                    transform: scale(1.1);
                }
            }
            ul {
                padding: 0;
                margin-bottom: 1vh;
            }
            a {
                color: darken($yellow, 5%);
                transition: all .3s ease;
                .reference {
                    background: whitesmoke;
                    border-bottom: solid 1px darken(whitesmoke, 5%);
                    padding: 1%;
                    font-size: 20px;
                    transition: all .3s ease;
                }
                &:hover {
                    .reference {
                        background: darken(whitesmoke, 5%);
                        border-bottom: solid 1px darken(whitesmoke, 10%);
                    }
                }
            }
        }
    }
    img {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        position: relative;
        transition: all .3s ease;
        padding: 0;
        cursor: default;
        height: auto;
        float: initial;
        width: 40%;
    }
    &.active {
        top: 0;
    }
}
