.e-cards-container {
    text-align: center;
    overflow: auto;
    height: 100%;
    .e-cards-table {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
        height: auto;
        background: white;
        border-radius: 5px;
        overflow: hidden;
        .table-header {
            padding: 0;
            .e-card-title {
                border-right: solid 1px darken(whitesmoke, 5%);
                background: white;
                cursor: pointer;
                transition: all .3s ease;
                &:first-child {
                    border-top-left-radius: 5px;
                }
                &:last-child {
                    border-right: none;
                    border-top-right-radius: 5px;
                }
                &:hover {
                    background: darken(whitesmoke, 5%);
                }
            }
        }
        .e-card-item,
        .e-card-new {
            overflow: hidden;
            text-align: center;
            padding: 0;
            max-height: 7vh;
            transition: all .4s ease;
            cursor: pointer;
            .e-card-desc {
                padding: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border-right: solid 1px darken(whitesmoke, 5%);
                cursor: pointer;
                transition: all .3s ease;
                height: 100%;
                &:last-child {
                    border-right: none;
                }
                &.e-card-img-new {
                    i {
                        line-height: 7vh;
                    }
                }
                div {
                    line-height: 7vh;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    transition: all .3s ease;
                    background: transparent;
                    padding: 0;
                    input {
                        border: none;
                        outline: none;
                        &[type="file"] {
                            width: 0.1px;
                            height: 0.1px;
                            opacity: 0;
                            overflow: hidden;
                            position: absolute;
                            z-index: -1;
                        }
                    }
                    .fa {
                        padding: 0;
                        line-height: 7vh;
                    }
                    ul {
                        max-height: 0vh;
                        margin: 0;
                        transition: all .3s ease;
                        color: transparent;
                        background: transparent;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        li {
                            list-style-type: none;
                        }
                        &.active {
                            background: white;
                            color: #333;
                            max-height: 400vh;
                            padding: 0;
                            li {
                                background: transparent;
                                transition: all .3s ease;
                                border-left: solid 2px transparent;
                                &:hover {
                                    background: whitesmoke;
                                }
                                &.disabled {
                                    cursor: default;
                                    background: whitesmoke;
                                    border-left: solid 2px lime;
                                }
                            }
                        }
                    }
                }
            }
            .e-card-img {
                padding: 8px 15px;
                overflow: hidden;
                text-align: center;
                img {
                    transition: all .3s ease;
                    border-radius: 20px;
                    padding: 0;
                }
            }
            &:hover {
                background: darken(whitesmoke, 0%);
                -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                .e-card-desc {
                    border-color: lightgray;
                }
            }
            .fa-angle-down {
                transition: all .3s ease;
                transform: rotate(0deg);
            }
            &.active {
                max-height: 400vh;
                cursor: default;
                background: whitesmoke;
                -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                .e-card-desc {
                    border-color: lightgray;
                    div {
                        &:hover {
                            background: darken(whitesmoke, 10%);
                        }
                    }
                }
                .e-card-img {
                    img {
                        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                        &:hover {
                            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
                            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
                            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
                .fa-angle-down {
                    transform: rotate(180deg);
                }
                .fa-eye{
                    &:before{
                        content: "\f070";
                    }
                }
                &:hover {
                    background: darken(whitesmoke, 0%);
                }
            }
        }
        .e-card-new {
            .e-card-desc {
                div {
                    padding: 0;
                    &.new {
                        transition: all .3s ease;
                        .fa-trash {
                            color: white;
                            background: orangered;
                            width: 0;
                            position: absolute;
                            left: 20vw;
                        }
                        &:hover {
                            .fa-trash {
                                left: 0vw;
                                width: 100%;
                            }
                        }
                    }
                }
                i.fa{
                    transform: rotate(0deg);
                    &.active{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .table-pagination {
        list-style-type: none;
        background: white;
        margin-bottom: 5vh;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 5px;
        padding: 0;
        li {
            cursor: pointer;
            transition: all .4s ease;
            background: transparent;
            h6 {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            &:hover {
                background: whitesmoke;
            }
            &.active {
                background: darken(whitesmoke, 5%);
            }
        }
        .table-prev {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .table-next {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
