.e-cards-container {
    text-align: center;
    overflow: auto;
    height: 100%;
    .e-cards-table {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        margin-bottom: 13px;
        padding: 0;
        height: auto;
        background: white;
        border-radius: 5px;
        overflow: hidden;
        .table-header {
            padding: 0;
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            z-index: 1;
            .e-card-title {
                border-right: solid 1px darken(whitesmoke, 5%);
                background: white;
                transition: all .3s ease;
                user-select: none;
                &:first-child {
                    border-top-left-radius: 5px;
                }
                &:last-child {
                    border-right: none;
                    border-top-right-radius: 5px;
                }
            }
            .scroll {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 10%;
                background: $yellow;
                z-index: 5;
                transition: all .2s ease;
            }
        }
        .table-body {
            overflow: auto;
            height: 63vh;
            padding: 0;
            .e-card-item,
            .e-card-new {
                overflow: hidden;
                text-align: center;
                padding: 0;
                max-height: 7vh;
                transition: all .4s ease;
                cursor: pointer;
                .e-card-desc {
                    padding: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    border-right: solid 1px darken(whitesmoke, 5%);
                    cursor: pointer;
                    transition: all .3s ease;
                    height: 100%;
                    &:last-child {
                        border-right: none;
                    }
                    &.e-card-img-new {
                        i {
                            line-height: 7vh;
                        }
                    }
                    div {
                        line-height: 7vh;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        transition: all .3s ease;
                        background: transparent;
                        padding: 0 15px;
                        input {
                            border: none;
                            outline: none;
                            &[type="file"] {
                                width: 0.1px;
                                height: 0.1px;
                                opacity: 0;
                                overflow: hidden;
                                position: absolute;
                                z-index: -1;
                            }
                        }
                        .fa {
                            padding: 0;
                            line-height: 7vh;
                        }
                        ul {
                            max-height: 0vh;
                            margin: 0;
                            transition: all .3s ease;
                            color: transparent;
                            background: transparent;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            li {
                                list-style-type: none;
                                line-height: 4.5vh;
                            }
                            &.active {
                                background: white;
                                color: #333;
                                max-height: 400vh;
                                padding: 0;
                                -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1) inset;
                                -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1) inset;
                                box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1) inset;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                                li {
                                    background: transparent;
                                    transition: all .3s ease;
                                    border-left: solid 2px transparent;
                                    &:hover {
                                        background: whitesmoke;
                                    }
                                    &.disabled {
                                        cursor: default;
                                        background: whitesmoke;
                                        border-left: solid 2px lime;
                                    }
                                }
                            }
                        }
                    }
                }
                .e-card-img {
                    padding: 8px 15px;
                    overflow: hidden;
                    text-align: center;
                    img {
                        transition: all .3s ease;
                        border-radius: 20px;
                        padding: 0;
                    }
                }
                &:hover {
                    background: white;
                    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.125);
                    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.125);
                    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.125);
                    .e-card-desc {
                        border-color: darken(whitesmoke, 5%);
                    }
                }
                .fa-angle-down {
                    transition: all .3s ease;
                    transform: rotate(0deg);
                }
                .fa {
                    transition: all .3s ease;
                }
                .fa-camera {
                    &:hover {
                        color: #6DB75D;
                    }
                }
                &.active {
                    max-height: 400vh;
                    cursor: default;
                    background: white;
                    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                    .e-card-desc {
                        border-color: darken(whitesmoke, 5%);
                        div {
                            &:hover {
                                background: whitesmoke;
                            }
                        }
                        &:last-child {
                            div {
                                &:hover {
                                    background: white;
                                }
                            }
                        }
                    }
                    .e-card-img {
                        img {
                            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
                            &:hover {
                                -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
                                -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
                                box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                    .fa-angle-down {
                        transform: rotate(180deg);
                    }
                    .fa-eye {
                        &:before {
                            content: "\f070";
                        }
                        &:hover {
                            color: #00AFD3;
                            background: white;
                        }
                    }
                    .fa-trash,
                    .fa-ban {
                        &:hover {
                            color: orangered;
                            background: white;
                        }
                    }
                    .fa-plus-square {
                        &:hover {
                            color: #6DB75D;
                        }
                    }
                    .fa-pencil {
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
            .e-card-new {
                .e-card-desc {
                    div {
                        padding: 0;
                        &.new {
                            transition: all .3s ease;
                            .fa-trash {
                                color: white;
                                background: orangered;
                                width: 0;
                                position: absolute;
                                left: 20vw;
                            }
                            &:hover {
                                .fa-trash {
                                    left: 0vw;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    i.fa {
                        transform: rotate(0deg);
                        &.active {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
    .e-cards-nav {
        text-align: center;
        background: white;
        padding: 0.7%;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        line-height: 3vh;
        .fa {
            display: inline-block;
            font-size: 24px;
            cursor: pointer;
            transition: all .3s ease;
            color: #666;
            &.fa-angle-right {
                margin-right: 5px;
            }
            &.fa-angle-left {
                margin-left: 5px;
            }
            &:hover {
                color: $yellow;
            }
        }
        .current-page-wrapper {
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            .current-page {
                width: 35px;
                padding-left: 5px;
                border: none;
                border-bottom: solid 1px $yellow;
                outline: none;
            }
            .pages {
                display: inline-block;
            }
        }
    }
}
