@font-face {
    font-family: FrontageCBold;
    src: url('../fonts/offcorss/Juri Zaech - Frontage Condensed Bold.otf');
}
@font-face {
    font-family: FrontageCBottom;
    src: url('../fonts/offcorss/Juri Zaech - FrontageCondensed-Bottom.otf');
}
@font-face {
    font-family: FrontageCN;
    src: url('../fonts/offcorss/Juri Zaech - FrontageCondensed-Neon.otf');
}
@font-face {
    font-family: FrontageC;
    src: url('../fonts/offcorss/Juri Zaech - FrontageCondensed-Regular.otf');
}