.gender {
    padding: 5vh 5vw;
    height: 100%;
    .selection-wrap {
        text-align: center;
        height: 50%;
        padding: 0;
        .title {
            margin-top: 10vh;
            .text {
                background: transparent;
                color: white;
                border-bottom: solid 3px $yellow;
                padding: 2%;
                font-size: 40px;
                transition: all 0.3s ease;
            }
        }
        .selections {
            padding: 0;
            .background {
                padding: 0;
                .text {
                    padding: 0;
                    background: transparent;
                    color: white;
                    padding: 4%;
                    border-bottom: solid 3px transparent;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    text-transform: uppercase;
                    text-shadow: -3px 3px 0px rgba(255, 255, 255, 1);
                    font-size: 6em;
                    font-weight: 800;
                    &.boySel {
                        color: $boy;
                        border-right: dashed 1.5px white;
                        &:hover {
                            border-bottom: solid 3px $boy;
                        }
                    }
                    &.girlSel {
                        color: $girl;
                        border-left: dashed 1.5px white;
                        &:hover {
                            border-bottom: solid 3px $girl;
                        }
                    }
                }
            }
        }
    }
    .img-boy {
        height: 60vh;
        .image {
            background-image: url(../IMG/Gender/boy.jpg);
            height: 100%;
            background-position: center;
            background-origin: content-box;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .img-girl {
        height: 60vh;
        .image {
            background-image: url(../IMG/Gender/girl.jpg);
            height: 100%;
            background-position: center;
            background-origin: content-box;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &.boy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $boy;
                }
            }
            .selections {
                .background {
                    .boySel {
                        border-bottom-color: $boy;
                    }
                }
            }
        }
        .img-boy {
            .image {
                display: inherit;
            }
        }
        .img-girl {
            .image {
                display: none;
            }
        }
    }
    &.girl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $girl;
                }
            }
            .selections {
                .background {
                    .girlSel {
                        border-bottom-color: $girl;
                    }
                }
            }
        }
        .img-boy {
            .image {
                display: none;
            }
        }
        .img-girl {
            .image {
                display: inherit;
            }
        }
    }
}
