.login{
    margin-top: 10vh;
    background: rgba(white,0.7);
    border-radius: 5px;
    padding: 3%;
    input{
        margin-bottom: 2.5vh;
    }
    .loginBtn{
        margin-top: 2.5vh;
        background: $yellow;
        transition: all .2s ease;
        &:hover{
            background: darken($yellow,5%);
        }
    }
}