.occasion {
    padding: 5vh 0;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
     ::-webkit-scrollbar {
        display: inherit;
    }
    .selection-wrap {
        text-align: center;
        .title {
            margin-bottom: 5vh;
            .text {
                transition: all 0.3s ease;
                color: white;
                border-bottom: solid 1px $yellow;
                font-size: 40px;
                padding: 2%;
            }
        }
    }
    .occasions {
        .background {
            transition: all .3s ease;
            padding: 1%;
            .cont {
                cursor: pointer;
                transition: all 0.3s ease;
                padding: 0;
                background: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                $occasionColor: $yellow;
                $opacity: 0.8;
                transition: all 0.3s ease;
                img {
                    opacity: 0;
                    transition: all .3s ease;
                    font-size: 30px;
                    position: absolute;
                    z-index: 2;
                    width: 50%;
                    left: 25%;
                    top: 25%;
                }
                .img {
                    transition: all 0.3s ease;
                    height: 30vh;
                }
                .title {
                    transition: all 0.3s ease;
                    padding: 0;
                    background: white;
                    padding: 4%;
                    height: 8vh;
                    overflow: hidden;
                    .occasion-desc {
                        position: absolute;
                        top: -15vh;
                        transition: all .3s ease;
                        left: 0;
                        font-size: 10px;
                        padding: 0 20%;
                        color: transparent;
                    }
                    h3 {
                        color: #333;
                        transition: all .3s ease;
                        line-height: 6vh;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: center;
                        margin: 0;
                        font-size: 14px;
                        color: white;
                    }
                }
                &:hover,
                &.active {
                    transform: scale(1);
                    .img {
                        height: 0vh;
                    }
                    .title {
                        height: 35vh;
                        transform: scale(1.4);
                        .occasion-desc {
                            top: 20%;
                            color: inherit;
                        }
                        h3 {
                            line-height: 50vh;
                            font-size: 12px;
                        }
                    }
                }
            }
            &:nth-child(1) {
                .cont {
                    background-image: url(../IMG/occasions/ocasiones-1.jpg);
                    .title {
                        h3 {
                            color: #F2A055;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .cont {
                    background-image: url(../IMG/occasions/ocasiones-2.jpg);
                    .title {
                        h3 {
                            color: #75AE9B;
                        }
                    }
                }
            }
            &:nth-child(3) {
                .cont {
                    background-image: url(../IMG/occasions/ocasiones-3.jpg);
                    .title {
                        h3 {
                            color: #464C51;
                        }
                    }
                }
            }
            &:nth-child(4) {
                .cont {
                    background-image: url(../IMG/occasions/ocasiones-4.jpg);
                    .title {
                        h3 {
                            color: #3AB2BC;
                        }
                    }
                }
            }
            &:nth-child(5) {
                .cont {
                    background-image: url(../IMG/occasions/ocasiones-5.jpg);
                    .title {
                        h3 {
                            color: #A79E98;
                        }
                    }
                }
            }
            &:nth-child(6) {
                .cont {
                    background-image: url(../IMG/occasions/ocasiones-6.jpg);
                    .title {
                        h3 {
                            color: #5A6069;
                        }
                    }
                }
            }
            .cont {
                &.active {
                    img {
                        opacity: 1;
                    }
                    .title {
                        .occasion-desc {
                            color: white;
                        }
                        h3 {
                            color: white;
                        }
                    }
                }
            }
        }
        i {
            transition: all .3s ease;
        }
    }
    .occasionsBtn {
        border-radius: 10px;
        background: white;
        transition: all .3s ease;
        color: $yellow;
        padding: 1%;
        cursor: pointer;
        height: 7vh;
        line-height: 7vh;
        padding: 0;
        font-family: FrontageCBold, sans-serif;
        font-size: 22px;
        &:hover {
            color: darken($yellow, 5%);
            opacity: 0.5;
            transform: scale(1.1);
        }
        &.disabled {
            height: 0vh;
            overflow: hidden;
            color: lighten($yellow, 20%);
            cursor: default;
            background: transparent !important;
            &:hover {
                color: lighten($yellow, 10%);
            }
        }
    }
    &.boy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $boy;
                }
            }
        }
        .occasions {
            .background {
                .cont {
                    $occasionColor: $boy;
                    $opacity: 0.9;
                    &.active {
                        .img {
                            background: rgba($occasionColor, $opacity);
                        }
                        .title {
                            background: rgba($occasionColor, $opacity);
                        }
                    }
                }
            }
            .nextOccasion {
                &:hover {
                    i {
                        color: $boy;
                    }
                }
            }
            .prevOccasion {
                &:hover {
                    i {
                        color: $boy;
                    }
                }
            }
        }
        .occasionsBtn {
            color: $boy;
            &:hover {
                color: darken($boy, 5%);
            }
            &.disabled {
                color: lighten($boy, 20%);
                cursor: default;
                &:hover {
                    color: lighten($boy, 20%);
                }
            }
        }
    }
    &.girl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $girl;
                }
            }
        }
        .occasions {
            .background {
                .cont {
                    $occasionColor: $girl;
                    $opacity: 0.9;
                    &.active {
                        .img {
                            background: rgba($occasionColor, $opacity);
                        }
                        .title {
                            background: rgba($occasionColor, $opacity);
                        }
                    }
                }
            }
            .nextOccasion {
                &:hover {
                    i {
                        color: $girl;
                    }
                }
            }
            .prevOccasion {
                &:hover {
                    i {
                        color: $girl;
                    }
                }
            }
        }
        .occasionsBtn {
            color: $girl;
            &:hover {
                color: darken($girl, 5%);
            }
            &.disabled {
                color: lighten($girl, 20%);
                cursor: default;
                &:hover {
                    color: lighten($girl, 20%);
                }
            }
        }
    }
    &.bBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bBoy;
                }
            }
        }
        .occasions {
            .background {
                .cont {
                    $occasionColor: $bBoy;
                    $opacity: 0.9;
                    &.active {
                        .img {
                            background: rgba($occasionColor, $opacity);
                        }
                        .title {
                            background: rgba($occasionColor, $opacity);
                        }
                    }
                }
            }
            .nextOccasion {
                &:hover {
                    i {
                        color: $bBoy;
                    }
                }
            }
            .prevOccasion {
                &:hover {
                    i {
                        color: $bBoy;
                    }
                }
            }
        }
        .occasionsBtn {
            color: $bBoy;
            &:hover {
                color: darken($bBoy, 5%);
            }
            &.disabled {
                color: lighten($bBoy, 20%);
                cursor: default;
                &:hover {
                    color: lighten($bBoy, 20%);
                }
            }
        }
    }
    &.bGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bGirl;
                }
            }
        }
        .occasions {
            .background {
                .cont {
                    $occasionColor: $bGirl;
                    $opacity: 0.9;
                    &.active {
                        .img {
                            background: rgba($occasionColor, $opacity);
                        }
                        .title {
                            background: rgba($occasionColor, $opacity);
                        }
                    }
                }
            }
            .nextOccasion {
                &:hover {
                    i {
                        color: $bGirl;
                    }
                }
            }
            .prevOccasion {
                &:hover {
                    i {
                        color: $bGirl;
                    }
                }
            }
        }
        .occasionsBtn {
            color: $bGirl;
            &:hover {
                color: darken($bGirl, 5%);
            }
            &.disabled {
                color: lighten($bGirl, 20%);
                cursor: default;
                &:hover {
                    color: lighten($bGirl, 20%);
                }
            }
        }
    }
    &.nBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nBoy;
                }
            }
        }
        .occasions {
            .background {
                .cont {
                    $occasionColor: $nBoy;
                    $opacity: 0.9;
                    &.active {
                        .img {
                            background: rgba($occasionColor, $opacity);
                        }
                        .title {
                            background: rgba($occasionColor, $opacity);
                        }
                    }
                }
            }
            .nextOccasion {
                &:hover {
                    i {
                        color: $nBoy;
                    }
                }
            }
            .prevOccasion {
                &:hover {
                    i {
                        color: $nBoy;
                    }
                }
            }
        }
        .occasionsBtn {
            color: $nBoy;
            &:hover {
                color: darken($nBoy, 5%);
            }
            &.disabled {
                color: lighten($nBoy, 20%);
                cursor: default;
                &:hover {
                    color: lighten($nBoy, 20%);
                }
            }
        }
    }
    &.nGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nGirl;
                }
            }
        }
        .occasions {
            .background {
                .cont {
                    $occasionColor: $nGirl;
                    $opacity: 0.9;
                    &.active {
                        .img {
                            background: rgba($occasionColor, $opacity);
                        }
                        .title {
                            background: rgba($occasionColor, $opacity);
                        }
                    }
                }
            }
            .nextOccasion {
                &:hover {
                    i {
                        color: $nGirl;
                    }
                }
            }
            .prevOccasion {
                &:hover {
                    i {
                        color: $nGirl;
                    }
                }
            }
        }
        .occasionsBtn {
            color: $nGirl;
            &:hover {
                color: darken($nGirl, 5%);
            }
            &.disabled {
                color: lighten($nGirl, 20%);
                cursor: default;
                &:hover {
                    color: lighten($nGirl, 20%);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .occasion {
        padding-top: 0;
        .selection-wrap {
            .title {
                .text {
                    font-size: 1.75em;
                }
            }
        }
        .occasions {
            height: 52.5vh;
            margin-top: -2vh;
            padding: 0;
            text-align: center;
            .prevOccasion {
                transition: all .3s ease;
                position: absolute;
                width: 20%;
                height: 35%;
                background: transparent;
                left: 0;
                color: white;
                font-size: 60px;
                top: 25%;
                z-index: 0;
                i {
                    transition: all .3s ease;
                }
                &:hover {
                    transform: scale(1.25);
                }
            }
            .nextOccasion {
                transition: all .3s ease;
                position: absolute;
                width: 20%;
                height: 35%;
                background: transparent;
                right: 0;
                color: white;
                font-size: 60px;
                top: 25%;
                z-index: 0;
                i {
                    transition: all .3s ease;
                }
                &:hover {
                    transform: scale(1.25);
                }
            }
            .background {
                position: absolute;
                display: none;
                .cont {
                    .img {
                        height: 40vh;
                        transition: all .3s ease;
                    }
                    img {
                        width: 25%;
                        left: 38%;
                        top: inherit;
                        bottom: 5%;
                    }
                    .title {
                        padding: 0;
                        height: 9vh;
                        transition: all .3s ease;
                        h3 {
                            transition: all .3s ease;
                            line-height: 9vh;
                            font-size: 20px;
                        }
                    }
                    &:hover,
                    &.active {
                        transform: scale(1);
                        .img {
                            height: 0vh;
                        }
                        .title {
                            height: 44vh;
                            transform: scale(1);
                            .occasion-desc {
                                top: 20%;
                                font-size: 16px;
                                padding: 0 5%;
                            }
                            h3 {
                                line-height: 10vh;
                                font-size: 30px;
                            }
                        }
                    }
                }
                &.active {
                    display: inherit;
                }
            }
        }
        .occasionsBtn {
            border-radius: 8px;
            margin-top: 0vh;
            max-height: 5vh;
            line-height: 5vh;
            font-size: 16px;
        }
    }
}

@media (min-height: 768px) and (orientation: portrait) {
    .occasion {
        .occasions {
            .background {
                .cont {
                    .img {
                        height: 20vh;
                    }
                    .title {
                        height: 5vh;
                        h3 {
                            line-height: 4vh;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .occasion {
        height: 100%;
        overflow: scroll;
        .selection-wrap {
            .title {
                margin-bottom: 1vh;
            }
        }
        .occasions {
            .background {
                .cont {
                    background-position: bottom;
                    .img {
                        height: 16vh;
                    }
                    .title {
                        height: 8vh;
                        h3 {
                            line-height: 8vh;
                        }
                    }
                    &:hover {
                        transform: scale(1);
                        .title {
                            height: 24vh;
                            transform: scale(1);
                            h3 {
                                transform: scale(1);
                                line-height: 26vh;
                            }
                        }
                    }
                }
            }
        }
        .occasionsBtn {
            height: 10vh;
            line-height: 10vh;
        }
    }
}
