.personality {
    padding: 5vh 0;
    height: 100%;
    overflow: scroll;
    .selection-wrap {
        text-align: center;
        .title {
            margin-bottom: 5vh;
            .text {
                transition: all 0.3s ease;
                color: white;
                border-bottom: solid 1px $yellow;
                padding: 2%;
                font-size: 50px;
            }
        }
    }
    .personWrap {
        .person {
            padding: 1vh 0.5vw;
            height: 40vh;
            background: transparent;
            overflow: hidden;
            transition: all .3s ease;
            transform: scale(1.1);
            cursor: pointer;
            .fa-check {
                position: absolute;
                opacity: 1;
                left: 2vw;
                top: 3vh;
                color: white;
                z-index: 2;
                transition: all 0.3s ease;
                font-size: 8vw;
                left: 25%;
                top: 25%;
            }
            .background {
                height: inherit;
                padding: 0;
                background: rgba(black, 0.5);
                border: none !important;
                .offset {
                    height: 30vh;
                    background: rgba(white, 0.8);
                    transition: all .3s ease;
                }
                .title {
                    height: 10vh;
                    background: white !important;
                    h4 {
                        line-height: 8vh;
                        text-transform: uppercase;
                        margin: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 100;
                        color: #333;
                        font-family: FrontageCBold;
                        font-size: 30px;
                    }
                }
            }
            &.transparent {
                transform: scale(1);
                .background {
                    .offset {
                        background: transparent;
                    }
                }
                .fa-check {
                    opacity: 0;
                }
            }
            &:nth-child(1) {
                .background {
                    background: url('../IMG/Personality/personalidad-1.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .title {
                        h4 {
                            color: #73626E;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .background {
                    background: url('../IMG/Personality/personalidad-2.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .title {
                        h4 {
                            color: #80D6BF;
                        }
                    }
                }
            }
            &:nth-child(3) {
                .background {
                    background: url('../IMG/Personality/personalidad-3.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .title {
                        h4 {
                            color: #73626E;
                        }
                    }
                }
            }
            &:nth-child(4) {
                .background {
                    background: url('../IMG/Personality/personalidad-4.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .title {
                        h4 {
                            color: #80D6BF;
                        }
                    }
                }
            }
            &:nth-child(5) {
                .background {
                    background: url('../IMG/Personality/personalidad-5.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .title {
                        h4 {
                            color: #73626E;
                        }
                    }
                }
            }
            &:nth-child(6) {
                .background {
                    background: url('../IMG/Personality/raton.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .continue {
        margin-top: 5vh;
        padding: 0;
        h4 {
            margin: 0;
            background: $yellow;
            color: white;
            padding: 4%;
            cursor: pointer;
            transition: all .3s ease;
        }
        &.transparent {
            h4 {
                background: transparent !important;
                color: transparent;
                cursor: default;
                user-select: none;
            }
        }
    }
    &.boy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $boy;
                }
            }
        }
        .personWrap {
            .person {
                .background {
                    border-color: $boy;
                    .title {
                        background-color: rgba($boy, 0.8);
                    }
                }
                .fa-check {
                    color: $boy;
                }
            }
        }
        .continue {
            h4 {
                background: $boy;
            }
        }
    }
    &.girl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $girl;
                }
            }
        }
        .personWrap {
            .person {
                .background {
                    border-color: $girl;
                    .title {
                        background-color: $girl;
                    }
                }
                .fa-check {
                    color: $girl;
                }
            }
        }
        .continue {
            h4 {
                background: $girl;
            }
        }
    }
    &.bBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bBoy;
                }
            }
        }
        .personWrap {
            .person {
                .background {
                    border-color: $bBoy;
                    .title {
                        background-color: $bBoy;
                    }
                }
                .fa-check {
                        color: $bBoy;
                    }
            }
        }
        .continue {
            h4 {
                background: $bBoy;
            }
        }
    }
    &.bGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bGirl;
                }
            }
        }
        .personWrap {
            .person {
                .background {
                    border-color: $bGirl;
                    .title {
                        background-color: $bGirl;
                    }
                }
                .fa-check {
                        color: $bGirl;
                    }
            }
        }
        .continue {
            h4 {
                background: $bGirl;
            }
        }
    }
    &.nBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nBoy;
                }
            }
        }
        .personWrap {
            .person {
                .background {
                    border-color: $nBoy;
                    .title {
                        background-color: $nBoy;
                    }
                }
                .fa-check {
                        color: $nBoy;
                    }
            }
        }
        .continue {
            h4 {
                background: $nBoy;
            }
        }
    }
    &.nGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nGirl;
                }
            }
        }
        .personWrap {
            .person {
                .background {
                    border-color: $nGirl;
                    .title {
                        background-color: $nGirl;
                    }
                }
                .fa-check {
                        color: $nGirl;
                    }
            }
        }
        .continue {
            h4 {
                background: $nGirl;
            }
        }
    }
}

@media (max-width:767px) {
    .personality {
        padding: 0;
        .selection-wrap {
            .title {
                margin-bottom: 0;
            }
        }
        .personWrap {
            .person {
                padding: 2.5vh 2.2vw;
                height: 25vh;
                .background {
                    .offset {
                        height: 17.3vh;
                    }
                    .title {
                        h4 {
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
