.register{
    margin-top: 5vh;
    background: rgba(white,0.7);
    border-radius: 5px;
    padding: 3%;
    .form-title{
        padding: 2%;
        text-align: center;
        h2{
            margin: 0;
            margin-bottom: 3vh;
            color: #666;
            font-family: 'Roboto' , sans-serif;
        }
    }
    h5{
        margin: 0;
    }
    input,select{
        margin-bottom: 1vh;
        border: none;
        padding: 1%;
        background: whitesmoke;
        border-bottom: solid 2px transparent;
        transition: all 0.3s ease;
        color: #666;
        text-align: center;
        &::placeholder{
            color: lightgray;
        }
        &:focus{
            outline: none;
            border-bottom-color: $yellow;
        }
    }
    .registerBtn{
        margin-top: 2.5vh;
        background: $yellow;
        transition: all .2s ease;
        color: white;
        &:hover{
            background: darken($yellow,5%);
        }
    }
    .container{
        padding : 0 15px;
    }
}