.result {
    padding: 5vh 0;
    height: 100%;
    overflow: scroll;
    .call-modal {
        background: white;
        padding: 0;
        border-radius: 5px;
        position: fixed;
        z-index: 3;
        top: -100%;
        overflow: hidden;
        transition: all .3s ease;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
        height: auto;
        .fa-times {
            position: absolute;
            right: 10px;
            z-index: 1;
            color: white;
            top: 1vh;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                color: darken($bBoy, 10%);
            }
        }
        .title {
            background: $bBoy;
            color: white;
            padding: 2%;
            h4 {
                font-size: 2em;
            }
        }
        .input {
            padding: 4% 0px;
            margin-bottom: 1vh;
            input {
                border: none;
                outline: none;
                border-bottom: solid 2px $bBoy;
                padding: 2%;
                transition: all .3s ease;
            }
            &.wrong {
                input {
                    border-bottom-color: orangered !important;
                }
            }
        }
        .button {
            cursor: pointer;
            border: solid 1px $bBoy;
            border-radius: 5px;
            color: $bBoy;
            text-align: center;
            padding: 3%;
            transition: all .3s ease;
            background: transparent;
            margin-bottom: 3vh;
            &:hover {
                background: $bBoy;
                color: white;
            }
        }
        &.active {
            top: 15%;
        }
    }
    .callcenter {
        width: 80px;
        height: 80px;
        background: $yellow;
        position: fixed;
        right: 3vw;
        top: 45%;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        transition: all .3s ease;
        z-index: 4;
        .fa-phone {
            top: 15%;
            position: relative;
            left: 22%;
            z-index: 4;
        }
        .wave-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 0;
            .wave {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                position: absolute;
                z-index: 3;
                transition: all .3s ease;
            }
            &.active {
                .wave {
                    &.wave-1 {
                        animation: pulse 1.3s ease infinite alternate;
                        background: $yellow;
                    }
                    &.wave-2 {
                        animation: pulse1 1.5s ease infinite alternate;
                        background: $yellow;
                    }
                    &.wave-3 {
                        animation: pulse2 1s ease infinite alternate;
                        background: $yellow;
                    }
                }
            }
        }
        &:hover {
            background: lighten($bBoy, 5%);
        }
    }
    .selection-wrap {
        text-align: center;
        .title {
            margin-bottom: 5vh;
            .text {
                transition: all 0.3s ease;
                background: white;
                border-bottom: solid 3px $yellow;
                padding: 2%;
            }
        }
        .nameInput {
            input {
                border: none;
                border-bottom: solid 1px black;
                background-color: transparent;
            }
        }
        .continue {
            div {
                transition: all 0.3s ease;
                background: $yellow;
                color: white;
            }
        }
    }
    .resultIMG {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
        padding: 0;
        transition: all .3s ease;
        cursor: pointer;
        img {
            padding: 0;
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
        }
    }
    .img {
        height: 60vh;
        .image {
            height: 100%;
            background-position: center;
            background-origin: content-box;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &.boy {
        .call-modal {
            .title {
                background: $boy;
            }
            .input {
                input {
                    border-color: $boy;
                }
            }
            .button {
                color: $boy;
                border-color: $boy;
                &:hover {
                    background: $boy;
                    color: white;
                }
            }
            .fa-times {
                &:hover {
                    color: darken($boy, 10%);
                }
            }
        }
        .callcenter {
            background: $boy;
            .wave-wrapper {
                .wave {
                    &.wave-1 {
                        background: $boy;
                    }
                    &.wave-2 {
                        background: $boy;
                    }
                    &.wave-3 {
                        background: $boy;
                    }
                }
            }
        }
    }
    &.girl {
        .call-modal {
            .title {
                background: $girl;
            }
            .input {
                input {
                    border-color: $girl;
                }
            }
            .button {
                color: $girl;
                border-color: $girl;
                &:hover {
                    background: $girl;
                    color: white;
                }
            }
            .fa-times {
                &:hover {
                    color: darken($girl, 10%);
                }
            }
        }
        .callcenter {
            background: $girl;
            .wave-wrapper {
                .wave {
                    &.wave-1 {
                        background: $girl;
                    }
                    &.wave-2 {
                        background: $girl;
                    }
                    &.wave-3 {
                        background: $girl;
                    }
                }
            }
        }
    }
    &.bBoy {
        .call-modal {
            .title {
                background: $bBoy;
            }
            .input {
                input {
                    border-color: $bBoy;
                }
            }
            .button {
                color: $bBoy;
                border-color: $bBoy;
                &:hover {
                    background: $bBoy;
                    color: white;
                }
            }
            .fa-times {
                &:hover {
                    color: darken($bBoy, 10%);
                }
            }
        }
        .callcenter {
            background: $bBoy;
            .wave-wrapper {
                .wave {
                    &.wave-1 {
                        background: $bBoy;
                    }
                    &.wave-2 {
                        background: $bBoy;
                    }
                    &.wave-3 {
                        background: $bBoy;
                    }
                }
            }
        }
    }
    &.bGirl {
        .call-modal {
            .title {
                background: $bGirl;
            }
            .input {
                input {
                    border-color: $bGirl;
                }
            }
            .button {
                color: $bGirl;
                border-color: $bGirl;
                &:hover {
                    background: $bGirl;
                    color: white;
                }
            }
            .fa-times {
                &:hover {
                    color: darken($bGirl, 10%);
                }
            }
        }
        .callcenter {
            background: $bGirl;
            .wave-wrapper {
                .wave {
                    &.wave-1 {
                        background: $bGirl;
                    }
                    &.wave-2 {
                        background: $bGirl;
                    }
                    &.wave-3 {
                        background: $bGirl;
                    }
                }
            }
        }
    }
    &.nBoy {
        .call-modal {
            .title {
                background: $nBoy;
            }
            .input {
                input {
                    border-color: $nBoy;
                }
            }
            .button {
                color: $nBoy;
                border-color: $nBoy;
                &:hover {
                    background: $nBoy;
                    color: white;
                }
            }
            .fa-times {
                &:hover {
                    color: darken($nBoy, 10%);
                }
            }
        }
        .callcenter {
            background: $nBoy;
            .wave-wrapper {
                .wave {
                    &.wave-1 {
                        background: $nBoy;
                    }
                    &.wave-2 {
                        background: $nBoy;
                    }
                    &.wave-3 {
                        background: $nBoy;
                    }
                }
            }
        }
    }
    &.nGirl {
        .call-modal {
            .title {
                background: $nGirl;
            }
            .input {
                input {
                    border-color: $nGirl;
                }
            }
            .button {
                color: $nGirl;
                border-color: $nGirl;
                &:hover {
                    background: $nGirl;
                    color: white;
                }
            }
            .fa-times {
                &:hover {
                    color: darken($nGirl, 10%);
                }
            }
        }
        .callcenter {
            background: $nGirl;
            .wave-wrapper {
                .wave {
                    &.wave-1 {
                        background: $nGirl;
                    }
                    &.wave-2 {
                        background: $nGirl;
                    }
                    &.wave-3 {
                        background: $nGirl;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .callcenter {
            width: 100%;
            border-radius: 0;
            top: 82%;
            height: 8%;
            right: 0;
            .fa-phone {
                left: 5%;
                font-size: 40px;
                line-height: 90%;
            }
            .wave-wrapper {
                border-radius: 0;
                .wave {
                    border-radius: 0;
                }
            }
            .text {
                position: absolute;
                font-size: 30px;
                top: 8%;
                left: 30%;
                z-index: 4;
            }
        }
        .resultIMG {
            margin-bottom: 12%;
        }
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
    @keyframes pulse1 {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.7);
            opacity: 0;
        }
    }
    @keyframes pulse2 {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }
    @keyframes pulseM {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(2.5);
            opacity: 0;
        }
    }
    @keyframes pulse1M {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(2.25);
            opacity: 0;
        }
    }
    @keyframes pulse2M {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
}
