.sizes-guide {
    background: white;
    padding: 2%;
    border-radius: 5px;
    position: absolute;
    z-index: 3;
    top: -100%;
    overflow: hidden;
    transition: all .3s ease;
    padding-top: 0;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
    height: 90%;
    .fa-times {
        position: absolute;
        right: 1vw;
        top: 1vh;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            color: $yellow;
        }
    }
    .img {
        height: 107%;
        overflow: scroll;
        img {
            margin-bottom: 5vh;
        }
         ::-webkit-scrollbar {
            width: 6px;
        }
         ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
         ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    }
    &.active {
        top: 5%;
    }
}

.size {
    overflow: scroll;
    padding: 2.5vh 0;
    height: 100%;
    .selection-wrap {
        height: 100%;
        text-align: center;
        .title {
            .text {
                transition: all 0.3s ease;
                background: transparent;
                padding: 2%;
                padding-top: 0;
                color: white;
                cursor: pointer;
                font-size: 35px;
                a {
                    text-decoration: none;
                    color: white;
                    border-bottom: solid 2px $yellow;
                    transition: all .3s ease;
                    padding-bottom: 5px;
                    padding-right: 10px;
                    padding-left: 10px;
                    top: 10px;
                    position: relative;
                    font-size: 36px;
                    font-family: FrontageCBold;
                    &:hover {
                        border-color: white !important;
                    }
                }
                .fa {
                    position: absolute;
                    right: -20%;
                    background: white;
                    border-radius: 50%;
                    height: 3.5vw;
                    width: 3.5vw;
                    line-height: 50px;
                    font-size: 34px;
                    color: $yellow;
                }
            }
        }
        .padWrap {
            margin-bottom: 5vh;
            margin-top: 2.5vh;
            .image {
                margin-bottom: 2.5vh;
                img {
                    max-height: 10vh;
                }
            }
            .padSize {
                height: 32vh;
                padding: 0;
                border-right: dashed 2px white;
                transition: all 0.3s ease;
                overflow: hidden;
                .row {
                    z-index: 1;
                    transition: all 0.3s ease;
                    height: 10vh;
                    margin: 0;
                    padding: 1vh 2vw;
                    top: 0;
                    .box {
                        cursor: pointer;
                        padding: 0;
                        line-height: 10vh;
                        transition: all 0.3s ease;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: white;
                        font-size: 24px;
                        background: transparent;
                        border-radius: 50px;
                        &:hover {
                            border-color: $yellow;
                            background: white;
                        }
                        &.active {
                            background: $yellow;
                            color: white;
                        }
                    }
                }
            }
            .nav {
                display: none;
                z-index: 2;
                position: absolute;
                right: -3vw;
                bottom: 25%;
                width: 3.5vw;
                height: 3.5vw;
                border-radius: 50%;
                background: white;
                .sel {
                    cursor: pointer;
                    .fa {
                        width: 100%;
                        height: 1vh;
                        transition: all 0.3s ease;
                        color: blue !important;
                    }
                    &:hover {
                        .fa {
                            color: blue !important;
                        }
                    }
                }
                &.active {
                    display: inherit;
                }
            }
        }
    }
    &.boy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $boy;
                    a {
                        border-color: $boy;
                        .fa {
                            color: $boy;
                        }
                    }
                }
            }
            .padWrap {
                .padSize {
                    .row {
                        .box {
                            &.active,&:hover {
                                background: $boy;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $boy;
                            }
                        }
                    }
                }
            }
        }
    }
    &.girl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $girl;
                    a {
                        border-color: $girl;
                        .fa {
                            color: $girl;
                        }
                    }
                }
            }
            .padWrap {
                .padSize {
                    .row {
                        .box {
                            &.active,&:hover {
                                background: $girl;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $girl;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bBoy;
                    a {
                        border-color: $bBoy;
                        .fa {
                            color: $bBoy;
                        }
                    }
                }
            }
            .padWrap {
                .padSize {
                    .row {
                        .box {
                            &.active,&:hover {
                                background: $bBoy;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $bBoy;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bGirl;
                    a {
                        border-color: $bGirl;
                        .fa {
                            color: $bGirl;
                        }
                    }
                }
            }
            .padWrap {
                .padSize {
                    .row {
                        .box {
                            &.active,&:hover {
                                background: $bGirl;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $bGirl;
                            }
                        }
                    }
                }
            }
        }
    }
    &.nBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nBoy;
                    a {
                        border-color: $nBoy;
                        .fa {
                            color: $nBoy;
                        }
                    }
                }
            }
            .padWrap {
                .padSize {
                    .row {
                        .box {
                            &.active,&:hover {
                                background: $nBoy;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $nBoy;
                            }
                        }
                    }
                }
            }
        }
    }
    &.nGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nGirl;
                    a {
                        border-color: $nGirl;
                        .fa {
                            color: $nGirl;
                        }
                    }
                }
            }
            .padWrap {
                .padSize {
                    .row {
                        .box {
                            &.active,&:hover {
                                background: $nGirl;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $nGirl;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .size {
        padding: 0;
        .selection-wrap {
            .title {
                margin-bottom: 0;
                .text {
                    a {
                        top: 2px;
                    }
                }
            }
            .padWrap {
                .image {
                    height: 10vh;
                    div {
                        font-size: 9vh;
                    }
                }
                .padSize {
                    padding: 1vh 2vw;
                    height: 10vh;
                    .row {
                        padding: 0;
                        .box {
                            border: solid 1px lightgray;
                        }
                    }
                }
                .nav {
                    right: 0;
                    height: 50%;
                    bottom: 0;
                }
            }
        }
    }
}
