.sizes-guide {
    background: white;
    padding: 2%;
    border-radius: 5px;
    position: absolute;
    z-index: 3;
    top: -100%;
    overflow: hidden;
    transition: all .3s ease;
    padding-top: 0;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
    height: 90%;
    .fa-times {
        position: absolute;
        right: 1vw;
        top: 1vh;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            color: $yellow;
        }
    }
    .img {
        height: 107%;
        overflow: scroll;
        img {
            margin-bottom: 5vh;
        }
    }
    &.active {
        top: 5%;
    }
}

.size {
    padding: 5vh 0;
    height: 100%;
    .selection-wrap {
        height: 100%;
        text-align: center;
        .title {
            margin-bottom: 5vh;
            .text {
                transition: all 0.3s ease;
                background: white;
                border-bottom: solid 3px $yellow;
                padding: 2%;
                cursor: pointer;
                a {
                    color: $yellow;
                    transition: all .3s ease;
                    top: 10px;
                    position: relative;
                    font-size: 14px;
                }
                .fa {
                    position: absolute;
                    right: -25px;
                    top: -7px;
                    background: $yellow;
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    line-height: 18px;
                    font-size: 14px;
                    color: white;
                }
            }
        }
        .padWrap {
            .image {
                height: 20vh;
                div {
                    transition: all 0.3s ease;
                    height: 100%;
                    color: $yellow;
                    font-size: 15vh
                }
            }
            .padSize {
                height: 30vh;
                padding: 0;
                border: solid 2px $yellow;
                transition: all 0.3s ease;
                overflow: hidden;
                .row {
                    z-index: 1;
                    transition: all 0.3s ease;
                    height: 10vh;
                    margin: 0;
                    padding: 1vh 2vw;
                    top: 0;
                    .box {
                        cursor: pointer;
                        padding: 0;
                        font-size: 18px;
                        line-height: 7vh;
                        border: solid 1px transparent;
                        transition: all 0.3s ease;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        &:hover {
                            border-color: $yellow;
                        }
                        &.active {
                            background: $yellow;
                            color: white;
                        }
                    }
                }
            }
            .nav {
                display: none;
                z-index: 2;
                position: absolute;
                right: 2vw;
                bottom: 1vh;
                width: 2vw;
                height: 10vh;
                .sel {
                    cursor: pointer;
                    .fa {
                        width: 100%;
                        height: 5vh;
                        transition: all 0.3s ease;
                        color: inherit;
                    }
                    &:hover {
                        .fa {
                            color: $yellow;
                        }
                    }
                }
                &.active {
                    display: inherit;
                }
            }
        }
    }
    &.boy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $boy;
                    a{
                        color: $boy;
                        .fa{
                            background-color: $boy;
                        }
                    }
                }
            }
            .padWrap {
                .image {
                    div {
                        color: $boy;
                    }
                }
                .padSize {
                    border-color: $boy;
                    .row {
                        .box {
                            &:hover {
                                border-color: $boy;
                            }
                            &.active {
                                background: $boy;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $boy;
                            }
                        }
                    }
                }
            }
        }
    }
    &.girl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $girl;
                    a{
                        color: $girl;
                        .fa{
                            background-color: $girl;
                        }
                    }
                }
            }
            .padWrap {
                .image {
                    div {
                        color: $girl;
                    }
                }
                .padSize {
                    border-color: $girl;
                    .row {
                        .box {
                            &:hover {
                                border-color: $girl;
                            }
                            &.active {
                                background: $girl;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $girl;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bBoy;
                    a{
                        color: $bBoy;
                        .fa{
                            background-color: $bBoy;
                        }
                    }
                }
            }
            .padWrap {
                .image {
                    div {
                        color: $bBoy;
                    }
                }
                .padSize {
                    border-color: $bBoy;
                    .row {
                        .box {
                            &:hover {
                                border-color: $bBoy;
                            }
                            &.active {
                                background: $bBoy;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $bBoy;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bGirl;
                    a{
                        color: $bGirl;
                        .fa{
                            background-color: $bGirl;
                        }
                    }
                }
            }
            .padWrap {
                .image {
                    div {
                        color: $bGirl;
                    }
                }
                .padSize {
                    border-color: $bGirl;
                    .row {
                        .box {
                            &:hover {
                                border-color: $bGirl;
                            }
                            &.active {
                                background: $bGirl;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $bGirl;
                            }
                        }
                    }
                }
            }
        }
    }
    &.nBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nBoy;
                    a{
                        color: $nBoy;
                        .fa{
                            background-color: $nBoy;
                        }
                    }
                }
            }
            .padWrap {
                .image {
                    div {
                        color: $nBoy;
                    }
                }
                .padSize {
                    border-color: $nBoy;
                    .row {
                        .box {
                            &:hover {
                                border-color: $nBoy;
                            }
                            &.active {
                                background: $nBoy;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $nBoy;
                            }
                        }
                    }
                }
            }
        }
    }
    &.nGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nGirl;
                    a{
                        color: $nGirl;
                        .fa{
                            background-color: $nGirl;
                        }
                    }
                }
            }
            .padWrap {
                .image {
                    div {
                        color: $nGirl;
                    }
                }
                .padSize {
                    border-color: $nGirl;
                    .row {
                        .box {
                            &:hover {
                                border-color: $nGirl;
                            }
                            &.active {
                                background: $nGirl;
                                color: white;
                            }
                        }
                    }
                }
                .nav {
                    .sel {
                        &:hover {
                            .fa {
                                color: $nGirl;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .size {
        padding: 0;
        .selection-wrap {
            .title {
                margin-bottom: 0;
                .text{
                    a{
                        top: 2px;
                    }
                }
            }
            .padWrap {
                .image {
                    height: 10vh;
                    div {
                        font-size: 9vh;
                    }
                }
                .padSize {
                    padding: 1vh 2vw;
                    height: 10vh;
                    .row {
                        padding: 0;
                        .box {
                            border: solid 1px lightgray;
                        }
                    }
                }
                .nav {
                    right: 0;
                    height: 50%;
                    bottom: 0;
                }
            }
        }
    }
}
