.weather {
    padding: 5vh 0;
    .selection-wrap {
        text-align: center;
        .title {
            margin-bottom: 5vh;
            .text {
                transition: all 0.3s ease;
                background: transparent;
                border-bottom: solid 1px $yellow;
                padding: 2%;
                color: white;
                font-size: 45px;
            }
        }
    }
    .weathers {
        .background {
            transition: all 0.3s ease;
            padding: 1%;
            .cont {
                cursor: pointer;
                transition: all 0.3s ease;
                padding: 0;
                background: transparent !important;
                overflow: hidden;
                $occasionColor: $yellow;
                $opacity: 0.8;
                padding: 0;
                border-right: dashed 2px white;
                .img {
                    img{
                        height: 20vh;
                        padding: 0;
                        margin-top: 2vh;
                    }
                }
                .title {
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                    transition: all 0.3s ease;
                    padding: 0;
                    background: transparent !important;
                    h3 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: center;
                        margin: 0;
                        font-size: 60px;
                        font-family: FrontageCBold;
                        color: white;
                    }
                }
            }
            &:nth-child(1) {
            }
            &:nth-child(2) {
            }
            &:nth-child(3) {
                .cont{
                    border-right: none;
                }
            }
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    &.boy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $boy;
                }
            }
        }
    }
    &.girl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $girl;
                }
            }
        }
    }
    &.bBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bBoy;
                }
            }
        }
    }
    &.bGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $bGirl;
                }
            }
        }
    }
    &.nBoy {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nBoy;
                }
            }
        }
    }
    &.nGirl {
        .selection-wrap {
            .title {
                .text {
                    border-bottom-color: $nGirl;
                }
            }
        }
    }
    @media (max-width: 767px){
        .weathers{
            .background{
                .cont{
                    .img{
                        height: 5vh;
                    }
                    .title{
                        padding: 2%;
                    }
                }
            }
        }
    }
}
