<div class="col-12 color">
  <div class="col-12 col-md-10 mx-sm-auto selection-wrap">
    <div class="col-12 title">
      <h4 data-var="colorTitle" class="col-12 col-md-10 mx-sm-auto text text-editable">&#xBF;Cu&#xE1;l es el color favorito de
        <div class="name"></div>?
      </h4>
    </div>
  </div>
  <div class="col-12 color-display d-block d-sm-none">
    <div class="color-wrap">
      <div class="half left-half" style="background-color : #f4de48;"></div>
      <div class="half right-half" style="background-color : #f6e363"></div>
      <div class="tag">AMARILLO</div>
    </div>
  </div>
  <div class="col-12 col-md-10 mx-sm-auto colors"></div>
  <div class="col-4 mx-auto col-lg-2 mx-md-auto colorsContinue active" routerLink="/personality">Continuar</div>
</div>
