<div class="col-12 occasion">
  <div class="col-12 col-md-10 mx-sm-auto selection-wrap">
    <div class="col-12 title">
      <h4 class="col-12 text text-editable" data-var="occasionTitle">&#xBF;Para que ocasiones
        est&#xE1; buscando
        <div class="name">MARTIN</div> la pinta?</h4>
    </div>
  </div>
  <div class="col-12 occasions">
    <div class="prevOccasion d-block d-sm-none"> <i class="fa fa-angle-left"></i>
    </div>
    <div class="nextOccasion d-block d-sm-none"> <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <div class="col-4 mx-auto col-md-10 mx-sm-auto col-lg-2 mx-md-auto occasionsBtn text-center text-editable"
       data-var="occasionBtn" routerLink="/weather">CONTINUAR</div>
</div>
