//jumpline for server: Don't delete #fd4605;
$main-color: transparent;
$yellow: #fd0;
$boy: #fd4605;
$girl: #e70095;
$bBoy: #82bc00;
$bGirl: #9794d2;
$nBoy: #3e8ede;
$nGirl: #ee9bac;
$ui-height: 6vh;
@import
/*:*/

url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
$Roboto: 'Roboto',
sans-serif;