<div class="col-12 weather">
  <div class="col-12 col-md-10 mx-sm-auto selection-wrap">
    <div class="col-12 title">
      <h4 class="col-12 col-md-10 mx-sm-auto text text-editable" data-var="weatherTitle">&#xBF;En qu&#xE9; clima va a usar
        <div class="name">MARTIN</div> su pinta?</h4>
    </div>
  </div>
  <div class="col-12 col-md-8 mx-sm-auto weathers row">
    <div data-weather="FR&#xCD;O" class="col-12 col-md-4 background" routerLink="/color">
      <div class="col-12 cont">
        <div class="col-5 col-md-12 img">
          <img class="col-12" src="/assets/weather/cold.svg" alt="">
        </div>
        <div class="col-7 col-md-12 title">
          <h3 class="text-editable" data-var="weatherName1">Fr&#xED;o</h3>
        </div>
      </div>
    </div>
    <div data-weather="TEMPLADO" class="col-12 col-md-4 background" routerLink="/color">
      <div class="col-12 cont">
        <div class="col-5 col-md-12 img">
          <img class="col-12" src="/assets/weather/tempered.svg" alt="">
        </div>
        <div class="col-7 col-md-12 title">
          <h3 class="text-editable" data-var="weatherName2">Templado</h3>
        </div>
      </div>
    </div>
    <div data-weather="CALIENTE" class="col-12 col-md-4 background" routerLink="/color">
      <div class="col-12 cont">
        <div class="col-5 col-md-12 img">
          <img class="col-12" src="/assets/weather/sunny.svg" alt="">
        </div>
        <div class="col-7 col-md-12 title">
          <h3 class="text-editable" data-var="weatherName3">Caliente</h3>
        </div>
      </div>
    </div>
  </div>
</div>
