@import "../../scss-imports/variables";
@import "../../scss-imports/mixins";
.age {
  padding: 5vh 0;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  .selection-wrap {
    margin-top: 7vh;
    text-align: center;
    .title {
      .text {
        color: white;
        font-size: 3.5vw;
        transition: all 0.3s ease;
        background: transparent;
        padding: 2%;
      }
    }
  }
  .age-wrapper {
    .pad {
      padding: 1%;
      border-bottom: dashed 2px white;
      transition: all 0.3s ease;
      .pad-row {
        padding: 0;
        margin: 0;
        margin-bottom: 2vh;
        background: $yellow;
        color: white;
        transition: all .3s ease;
        width: 12.5vw;
        height: 12.5vw;
        margin-right: 7.5vw;
        border-radius: 50%;
        cursor: pointer;
        -webkit-box-shadow: 7.5px 7.5px 0px 2px rgba(255, 255, 255, 1);
        -moz-box-shadow: 7.5px 7.5px 0px 2px rgba(255, 255, 255, 1);
        box-shadow: 7.5px 7.5px 0px 2px rgba(255, 255, 255, 1);
        h3 {
          margin: 0;
          font-size: 22px;
          white-space: nowrap;
          font-family: FrontageCN;
          right: 10%;
          top: 40%;
          position: absolute;
          b {
            font-size: 45px;
            right: 10%;
            top: -100%;
            position: absolute;
            font-family: FrontageCBold;
          }
        }
        &:last-child {
          margin: 0;
        }
        &:hover {
          transform: scale(1.1);
        }
        &.boy {
          background: $boy;
        }
        &.bBoy {
          background: $bBoy;
        }
        &.girl {
          background: $girl;
        }
        &.bGirl {
          background: $bGirl;
        }
        &.nBoy {
          background: $nBoy;
        }
        &.nGirl {
          background: $nGirl;
        }
      }
    }
  }
  .img {
    height: 60vh;
    padding: 0;
    top: 10vh;
    position: absolute;
    right: 0;
    .image {
      height: 100%;
      padding: 0;
      padding-right: 3vw;
      padding-left: 1vw;
      background-position: center;
      background-origin: content-box;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &.boy {
    .selection-wrap {
      .title {
        .text {
          border-bottom-color: $boy;
        }
      }
    }
    .age-wrapper {
      .pad {
        border-color: $boy;
        .pad-row {
          .number {
            &:hover {
              border-color: $boy;
            }
            &.selected {
              background: $boy;
              color: white;
            }
          }
        }
      }
    }
    .img {
      .image {
        background-image: url('./img/boy.jpg');
      }
    }
  }
  &.girl {
    .selection-wrap {
      .title {
        .text {
          border-bottom-color: $girl;
        }
      }
    }
    .age-wrapper {
      .pad {
        border-color: $girl;
        .pad-row {
          .number {
            &:hover {
              border-color: $girl;
            }
            &.selected {
              background: $girl;
              color: white;
            }
          }
        }
      }
    }
    .img {
      .image {
        background-image: url('./img/girl.jpg');
      }
    }
  }
  &.bBoy {
    .selection-wrap {
      .title {
        .text {
          border-bottom-color: $bBoy;
        }
      }
    }
    .age-wrapper {
      .pad {
        border-color: $bBoy;
        .pad-row {
          .number {
            &:hover {
              border-color: $bBoy;
            }
            &.selected {
              background: $bBoy;
              color: white;
            }
          }
        }
      }
    }
    .img {
      .image {
        background-image: url('./img/boy.jpg');
      }
    }
  }
  &.bGirl {
    .selection-wrap {
      .title {
        .text {
          border-bottom-color: $bGirl;
        }
      }
    }
    .age-wrapper {
      .pad {
        border-color: $bGirl;
        .pad-row {
          .number {
            &:hover {
              border-color: $bGirl;
            }
            &.selected {
              background: $bGirl;
              color: white;
            }
          }
        }
      }
    }
    .img {
      .image {
        background-image: url('./img/girl.jpg');
      }
    }
  }
  &.nBoy {
    .selection-wrap {
      .title {
        .text {
          border-bottom-color: $nBoy;
        }
      }
    }
    .age-wrapper {
      .pad {
        border-color: $nBoy;
        .pad-row {
          .number {
            &:hover {
              border-color: $nBoy;
            }
            &.selected {
              background: $nBoy;
              color: white;
            }
          }
        }
      }
    }
    .img {
      .image {
        background-image: url('./img/boy.jpg');
      }
    }
  }
  &.nGirl {
    .selection-wrap {
      .title {
        .text {
          border-bottom-color: $nGirl;
        }
      }
    }
    .age-wrapper {
      .pad {
        border-color: $nGirl;
        .pad-row {
          .number {
            &:hover {
              border-color: $nGirl;
            }
            &.selected {
              background: $nGirl;
              color: white;
            }
          }
        }
      }
    }
    .img {
      .image {
        background-image: url('./img/girl.jpg');
      }
    }
  }
}

@media (max-width: 767px) {
  .age {
    padding: 0;
    .selection-wrap {
      margin-top: 0;
      .title {
        .text {
          font-size: 1.5em;
          border-bottom: solid 2px;
          padding-bottom: 2vh;
        }
      }
    }
    .age-wrapper {
      .pad {
        margin-top: 5vh;
        padding-bottom: 5vh;
        .pad-row {
          width: 24vw;
          height: 24vw;
          h3 {
            top: 30%;
            font-size: 11px;
            b {
              font-size: 18px;
              top: -80%;
            }
          }
        }
      }
    }
    .img {
      position: relative;
      top: 0;
      margin-bottom: 5vh;
      margin-top: 5vh;
    }
  }
}
